<div class="col-12">
  <div class="d-sm-flex gap-3 align-items-center">
    <div>
      <h3 class="mb-3">Necessary Cookies</h3>
      <p class="w-sm-75 w-100">
        These cookies are necessary for the website to function and cannot be
        switched off in our systems. They are usually only set in response to
        actions made by you which amount to a request for services, such as
        setting your privacy preferences, logging in or filling in forms. You
        can set your browser to block or alert you about these cookies, but some
        parts of the site may not work then.
      </p>
    </div>
    <div class="d-flex w-100 justify-content-end">
      <label class="switch">
        <input type="checkbox" disabled checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
<hr class="my-5" />
<div class="col-12">
  <div class="d-sm-flex gap-3 align-items-center">
    <div>
      <h3 class="mb-3">Analytics Cookies</h3>
      <p class="w-sm-75 w-100">
        These cookies allow us to count visits and traffic sources, so we can
        measure and improve the performance of our site. They help us know which
        pages are the most and least popular and see how visitors move around
        the site. All information these cookies collect is aggregated and
        therefore anonymous. If you do not allow these cookies, we will not know
        when you have visited our site.
      </p>
    </div>
    <div class="d-flex w-100 justify-content-end">
      <label class="switch">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
<hr class="my-5" />
<div class="col-12">
  <div class="d-sm-flex gap-3 align-items-center">
    <div>
      <h3 class="mb-3">Advertising Cookies</h3>
      <p class="w-sm-75 w-100">
        These cookies enable us to provide you with other types of
        advertisements (for example, for products and services not available on
        Noodra), including advertisements relevant to your interests, and to
        collaborate with approved third parties under the content delivery
        process, in order to measure the effectiveness of advertisements and to
        perform services on behalf of Noodra.
      </p>
    </div>
    <div class="d-flex w-100 justify-content-end">
      <label class="switch">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
