.stripe-element {
    border: 1px solid #c1c1c1;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

.input-with-icon{
    position: relative;
    img {
        height: 20px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.error-message {
    color: red;
    margin-top: -12px;
}
.ml-2 {
    margin-left: .8rem;
}
.h-24{
    height: 18px;
}
