<div class="col-12">
  <div class="d-sm-flex gap-3 align-items-center">
    <div>
      <h3 class="mb-3">Cookies nécessaires</h3>
      <p class="w-sm-75 w-100">
        Ces cookies sont nécessaires au fonctionnement du site Web et ne peuvent
        pas être désactivés dans nos systèmes. Ils ne sont généralement définis
        qu'en réponse à des actions que vous effectuez et qui constituent une
        demande de services, telles que la définition de vos préférences de
        confidentialité, la connexion ou le remplissage de formulaires. Vous
        pouvez configurer votre navigateur pour qu'il bloque ou vous avertisse
        de ces cookies, mais certaines parties du site peuvent alors ne pas
        fonctionner.
      </p>
    </div>
    <div class="d-flex w-100 justify-content-end">
      <label class="switch">
        <input type="checkbox" disabled checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
<hr class="my-5" />
<div class="col-12">
  <div class="d-sm-flex gap-3 align-items-center">
    <div>
      <h3 class="mb-3">Cookies analytiques</h3>
      <p class="w-sm-75 w-100">
        Ces cookies nous permettent de comptabiliser les visites et les sources
        de trafic, afin que nous puissions mesurer et améliorer les performances
        de notre site. Ils nous aident à savoir quelles pages sont les plus et
        les moins populaires et à voir comment les visiteurs se déplacent sur le
        site. Toutes les informations collectées par ces cookies sont agrégées
        et donc anonymes. Si vous n'autorisez pas ces cookies, nous ne saurons
        pas quand vous avez visité notre site.
      </p>
    </div>
    <div class="d-flex w-100 justify-content-end">
      <label class="switch">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
<hr class="my-5" />
<div class="col-12">
  <div class="d-sm-flex gap-3 align-items-center">
    <div>
      <h3 class="mb-3">Cookies publicitaires</h3>
      <p class="w-sm-75 w-100">
        Ces cookies nous permettent de vous proposer d'autres types de
        publicités (par exemple, pour des produits et services non disponibles
        sur Noodra), y compris des publicités correspondant à vos centres
        d'intérêt, et de collaborer avec des tiers agréés dans le cadre du
        processus de diffusion de contenu, afin de mesurer l'efficacité des
        publicités et pour effectuer des services au nom de Noodra.
      </p>
    </div>
    <div class="d-flex w-100 justify-content-end">
      <label class="switch">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
