<div class="small-container">
    <div class="cgu">
        <h4 class="display-6 bold">Cookie policy</h4>
        <p>
            Version updated on December 06, 2023
        </p>
        <h4 class="lead my-2"> PREFACE </h4>
        <p>
            We understand the importance of your privacy and how information is treated when you visit our site.
            This cookie policy has been drawn up to inform you about the use of cookies in accordance with current
            legislation, in particular law no. 78-17 of January 6, 1978 on data processing,
            data files and individual liberties.
        </p>
        <p>
            Our commitment to compliance with French and European data protection laws, including the European Union's
            General Data Protection Regulation (GDPR), is also reflected in our approach to cookies.
            This policy governs the collection, use and processing of your data through the use of cookies, in strict
            compliance with regulatory standards, such as the French Data Protection Act.
        </p>
        <hr />
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                1. What are cookies?
            </div>
            <div>
                <p>
                    We use cookies on our site to enhance your online experience.
                    These small text files collect information about your browsing experience, helping us to personalize
                    content and provide features tailored to your preferences.
                    Rest assured that the collection of these cookies is carried out in compliance with current
                    confidentiality standards,
                    and your prior consent is always sought for cookies requiring authorization.
                </p>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                2. What types of cookies do we use?
            </div>
            <div>

                <p>
                    When you visit our website, two types of cookies may be collected in order to improve your online
                    experience.
                    First-party cookies, issued directly by our site, are essential to ensure the smooth operation of
                    our services.
                    In addition, we use third-party cookies issued by external partners, notably for analysis and
                    advertising personalization purposes.
                    Our commitment to your privacy is fundamental,
                    and we invite you to read our full cookie policy to find out more about how cookies are used and how
                    you can exercise control over their management.
                    To summarize, we use :
                </p>
                <ul>
                    <li> <strong>First-party cookies: </strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Issued directly
                        by our website.<br>&nbsp;&nbsp;&nbsp;&nbsp; - Essential for the smooth operation and improvement
                        of the browsing experience.
                    </li>
                    <li> <strong>Third-party cookies : </strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Issued by
                        external partners.<br>&nbsp;&nbsp;&nbsp;&nbsp; - Used in particular to analyse and personalize
                        advertising.
                    </li>
                </ul>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                3. Your choice: optional cookies
            </div>
            <div>
                <p>
                    The collection of data through the use of cookies is entirely optional on our platform.
                    We respect your privacy and offer you the opportunity to manage your cookie preferences to ensure
                    that your experience is tailored to your expectations.
                    Noodra also attaches great importance to protecting your privacy.
                </p>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                4. How long do cookies stay on your device?
            </div>
            <div>
                <p>
                    We therefore use two types of cookies on our website: session cookies and persistent cookies.
                    Session cookies are temporary and are automatically deleted as soon as you close your browser.
                    They are essential to ensure smooth browsing during your visit to our site. Persistent cookies,
                    on the other hand, remain on your device even after you close your browser, until they reach their
                    predefined expiry date or are manually deleted by you.
                    These cookies persist in order to store useful information for future visits, improving your
                    experience by offering you faster, more personalized access.
                    We would like to assure you that these cookies are used in accordance with our privacy policy, and
                    you can manage these preferences via your browser settings.
                </p>

            </div>
        </div>

        <div appAccordian>
            <div appAccordianTitle [open]="true">
                5. Conditions for deleting cookies
            </div>
            <div>
                <p>
                    Therefore, you are free to adjust the settings of your web browser according to your preferences in
                    terms of cookies with :
                </p>

                <ul>
                    <li> <strong>Google Chrome : </strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on the three
                        vertical dots at top right, <br>&nbsp;&nbsp;&nbsp;&nbsp; - Select "History" then "History",
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on "Delete browsing data",
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Check "Cookies and other site data" and click on "Delete
                        data".
                    </li>
                    <li> <strong>Mozilla Firefox : </strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on the three
                        horizontal lines at top right, <br>&nbsp;&nbsp;&nbsp;&nbsp; - Select "Options" then "Privacy &
                        Security",
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- In the "Cookies and website data" section, click on "Delete
                        data...", <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Check "Cookies" and click "Delete".
                    </li>
                    <li> <strong>Microsoft Edge : </strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on the three
                        vertical dots at top right, <br>&nbsp;&nbsp;&nbsp;&nbsp; -Select "History" then "Delete browsing
                        data",
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Check "Cookies and website data" and click "Delete".
                    </li>
                    <li> <strong>Safari : </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on "History" in the
                        menu bar, <br>&nbsp;&nbsp;&nbsp;&nbsp; - Select "Clear history",
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Select the time range and click on "Clear history".
                    </li>
                    <li> <strong>Opera : </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Click on "Settings" then
                        "Advanced", <br>&nbsp;&nbsp;&nbsp;&nbsp; - Select "Privacy & Security" and "Content settings",
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Choose "Click on cookies",
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Deactivate "Keep local data only until you exit your
                        browser".
                    </li>
                </ul>


            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                6. How can you contact us ?
            </div>
            <div>
                <p>
                    Please do not hesitate to contact us if you have any questions, or if you would like to collaborate
                    with us. We look forward to hearing from you, and to offering you all the assistance you need.
                    To contact us, please send an e-mail to the following address: <a
                        href="mailto:contact@noodra.com">contact&#64;noodra.com</a>.
                    We will do our utmost to respond to all your requests as quickly as possible.
                    Thank you for choosing Noodra and allowing our team to provide you with an exceptional experience.
                </p>

            </div>
        </div>

    </div>
</div>