<div class="small-container column align-items mgb60 guideline" *ngIf=" sub | async as referrer">
    <h2>1. MON COMPTE NOODRA</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>1.1. Comment créer un compte Noodra ?</span>

        </div>
        <div >
            <p>Bienvenue chez Noodra ! Nous sommes enchantés de vous compter parmi nous !
                L'inscription est rapide et gratuite, il suffit de créer un compte en entrant votre adresse
                email et vos informations personnelles. Une fois votre compte confirmé par email, vous
                pourrez:
            </p>
            <ul>
                <li>Ajouter des articles à vos favoris</li>
                <li>Utiliser le système de messagerie interne Noodra</li>
                <li>Passer commande </li>
            </ul>
        </div>
    </div>
    <div class="accordian mgb40">
        <div appAccordianTitle>
            <span>1.2. Comment activer mon compte Noodra ?</span>

        </div>
        <div >
            <p>A la création de votre compte Noodra, un email de confirmation vous est envoyé sur votre
                adresse email, de la part de noreply&#64;noodra.com.<br />
                Il suffit de cliquer sur "J'active mon compte" pour l'activer.
            </p>
            <p class="bluetxt bold">Si vous n'avez pas reçu le mail de confirmation:</p>
            <ul>
                <li>Vérifiez qu'il n'a pas atterri dans votre dossier Spams ou Courriers indésirables</li>
                <li>Si vous utilisez Gmail, vérifiez également vos onglets Réseaux sociaux et Promotions
                </li>
            </ul>
            <p>Si le problème persiste, vous pouvez nous contacter sur <a href="mail:contact@noodra.com" class="linkSecond">contact&#64;noodra.com</a></p>
        </div>
    </div>
    <h2>2. MES ACHATS SUR NOODRA</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>2.1. Comment acheter sur Noodra ?</span>

        </div>
        <div >
            <p><span class="bluetxt bold">2.1.1.</span> <span class="bold"> Choisissez la catégorie ou le
                                pays</span> des produits que vous cherchez dans le menu. Pour faciliter votre recherche,
                les filtres sont à votre disposition. Si un produit vous plait, vous pouvez cliquer dessus
                pour accéder à sa fiche produit
            </p>
            <p><span class="bluetxt bold">2.1.2.</span><span class="bold"> Ajoutez les articles qui vous
                                intéressent au panier</span></p>
            <p><span class="bluetxt bold">2.1.3.</span><span class="bold"> Remplissez vos informations de
                                livraison</span></p>
            <p><span class="bluetxt bold">2.1.4.</span><span class="bold"> Choisissez</span>
                entre les 3 méthodes de paiement disponibles (paypal, carte bancaire ou portefeuille Noodra)
                puis cliquez sur "Payer" pour finaliser votre achat.Votre commande est confirmée dès que
                vous recevez la confirmation sur le site et par email
            </p>

        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>2.2. Comment se passe l’achat sur Noodra ?</span>

        </div>
        <div >
            <p>Sur Noodra, chaque vendeur est en charge de sa boutique, qu'il crée et gère.</p>
            <p><span class="bluetxt bold">2.2.1.</span> Le vendeur met ses produits en ligne, décide du
                prix des articles et gère lui-même les expéditions. Grâce au système de messagerie
                interne de Noodra, le vendeur peut échanger avec les clients et les tenir au courant du
                statut de leurs commandes</p>
            <p><span class="bluetxt bold">2.2.2.</span> L’acheteur peut commander chez plusieurs vendeurs
                différents, et toutes les commandes peuvent être payées en une fois</p>
            <p><span class="bluetxt bold">2.2.3.</span> En tant que tiers de confiance, Noodra n’intervient
                pas dans le processus d’achat mais est <strong class="bold">garant de la fiabilité des
                    transactions.</strong> Noodra s’assure que les acheteurs utilisent leurs achats et que
                les vendeurs soient payés une fois les articles livrés</p>
        </div>
    </div>
    <div class="accordian mgb40">
        <div appAccordianTitle>
            <span>2.3. Comment acheter avec mon portefeuille Noodra ?</span>

        </div>
        <div >
            <p>Passer votre commande comme d'habitude. Puis au moment de payer, sélectionnez l'option
                “Portefeuille” comme moyen de paiement. Votre portefeuille sera automatiquement débité</p>
        </div>
    </div>
    <div class="mgb40">
        <h2>3. MES COMMANDES SUR NOODRA</h2>
        <div appAccordian>
            <div appAccordianTitle>
                <span>3.1. Que faire si le vendeur ne me répond pas ?</span>

            </div>
            <div >
                <p>Quand vous envoyez un message à un vendeur, il a 48h pour vous répondre. Sans retour de sa
                    part, veuillez contacter Noodra, afin de signaler un litige. Nous le relancerons afin
                    d'avoir une réponse rapide. S'il n'y a toujours pas de réponse 48 heures après notre
                    intervention, vous pouvez demander l'annulation et le remboursement de votre commande dans
                    les cas suivants:
                </p>
                <ul>
                    <li>les commandes en statut "Accepté" (la commande n'a pas encore été expédiée)</li>
                    <li><strong class="bold">Pour les commandes "Expédié" avec un numéro de suivi,</strong> nous
                        essayerons de contacter le vendeur, mais il va falloir que vous attendiez de recevoir le
                        colis, et le retourner au vendeur afin d'être remboursé. Dans ce cas, nous pouvons
                        suivre le colis, et estimer dans la mesure du possible sa date de livraison.</li>
                    <li>Vous pouvez aussi choisir de patienter que le vendeur vous réponde. Il s’agit peut-être
                        juste d’un problème temporaire</li>
                </ul>
                <p>Pour une demande de renseignement sur un produit, nous vous invitons à patienter. Le vendeur
                    vous répondra dès que possible mais vous pouvez toujours contacter le service client Noodra
                    qui sera toujours disponible pour vous aider dans la mesure du possible</p>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle>
                <span>3.2. Comment annuler ma commande ?</span>

            </div>
            <div >
                <p><span class="bluetxt bold">3.2.1. Ma commande n'a pas encore été expédiée</span></p>
                <p>Si le statut de votre commande est "A Accepter" par le vendeur, vous pouvez l’annuler à tout
                    moment.
                    Si la commande a été acceptée par le vendeur vous pouvez le contacter pour voir s’il
                    voudrait bien l’annuler.
                    Une fois la commande annulée
                    A l'annulation de votre commande, vous serez automatiquement remboursée sur votre
                    portefeuille Noodra. Vous pouvez choisir d'utiliser les fonds pour passer une nouvelle
                    commande, ou les transférer vers votre compte bancaire, vers votre compte Paypal ou par le
                    biais de Western Union.
                </p>
                <p><span class="bluetxt bold">3.2.2. Ma commande a été expédiée </span></p>
                <p>Si votre commande est en statut "Expedié", cela signifie qu’elle a été expédié.
                    Si un numéro de suivi stipule que le colis est cours de livraison, nous vous recommandons de
                    patienter. Si vous le recevez et souhaitez toujours annuler la commande, vous devrez
                    renvoyer le colis au vendeur en suivant la procédure de retour stipulée dans les conditions
                    générales de vente de la boutique.
                </p>
                <p><span class="bluetxt bold">3.2.3. Ma commande est terminée</span></p>
                <p>Si le statut de la commande est “Terminée”, il n’est plus possible d’annuler la commande.</p>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle>
                <span>3.3. Pourquoi ma commande a été annulée ?</span>

            </div>
            <div >
                <p><span class="bluetxt bold">3.3.1. Le vendeur n’a pas validé la commande</span></p>
                <p>Une fois votre commande passée, le vendeur a 48 heures pour l’accepter, sinon la commande est
                    automatiquement annulée
                </p>
                <p><span class="bluetxt bold">3.3.2. Le vendeur a refusé la commande</span></p>
                <p>En cas de refus d’une commande, le vendeur doit préciser les raisons de ce refus
                </p>
                <p><span class="bluetxt bold">3.3.3. Noodra a annulé la commande</span></p>
                <p>Vous recevrez un email expliquant la raison pour laquelle nous avons dû annuler la commande
                </p>
            </div>
        </div>
        <div id="delivery" appAccordian>
            <div appAccordianTitle [open]="referrer.delivery">
                <span>3.4. Comment se passe la livraison ?</span>

            </div>
            <div >
                <p><span class="bluetxt bold">3.4.1. Le vendeur n’a pas validé la commande</span></p>
                <p>Une fois votre commande passée, le vendeur a 48 heures pour l’accepter, sinon la commande est
                    automatiquement annulée
                </p>
                <p><span class="bluetxt bold">3.4.2. Le vendeur a refusé la commande</span></p>
                <p>En cas de refus d’une commande, le vendeur doit préciser les raisons de ce refus
                </p>
                <p><span class="bluetxt bold">3.4.3. Noodra a annulé la commande</span></p>
                <p>Vous recevrez un email expliquant la raison pour laquelle nous avons dû annuler la commande
                </p>
            </div>
        </div>
    </div>
    <div id="return" class="mgb40">
        <h2>4. RETOURS, ÉCHANGES ET REMBOURSEMENTS</h2>
        <div appAccordian>
            <div appAccordianTitle [open]="referrer.return">
                <span>4.1. Quelle est la politique de retours, d'échanges et de remboursements ?</span>

            </div>
            <div >
                <p><span class="bold bluetxt">En tant qu’acheteur, vous avez un délai de 14 jours</span> pour
                    effectuer un retour, après la réception de la commande. Les remboursements se font sur le
                    portefeuille Noodra. Vous pouvez ensuite choisir d'utiliser les fonds pour passer une
                    nouvelle commande, ou les transférer vers son compte bancaire ou Paypal
                </p>
                <p class="bold">Les frais de retour sont-ils à la charge du vendeur ou de l’acheteur?</p>
                <ul>
                    <li>Les frais sont à la charge de l’acheteur si le produit est conforme à l’image / la
                        description et ne présente aucun défaut</li>
                    <li>Les frais de retour sont à la charge du vendeur si le produit n’est pas conforme à
                        l’image / description et comporte des défauts</li>
                </ul>
                <p><span class="bold bluetxt">Une fois le délai de 14 jours dépassé</span> chaque vendeur est
                    responsable de ses conditions de vente en matière de retours, d'échanges et de
                    remboursements qu’il doit communiquer clairement dans ses conditions générales de vente</p>
            </div>
        </div>
    </div>
    <div id="payment" class="mgb40">
        <h2>5. PAIEMENTS ET TRANSFERTS</h2>
        <div appAccordian>
            <div appAccordianTitle [open]="referrer.payment">
                <span>5.1. Comment fonctionne le portefeuille Noodra?</span>

            </div>
            <div >
                <p><span class="bold bluetxt">5.1.1.</span> A la création d’un compte Noodra, vous disposez d'un portefeuille virtuel où sont effectuées
                    toutes les transactions monétaires de l’utilisateur</p>
                <p><span class="bold bluetxt">5.1.2.</span><span class="bold"> Un
                                    vendeur verra sur son compte différentes sortes de transactions </span>
                    comme le montant des ventes réalisées, le débit des commissions Noodra sur ses ventes, les
                    virements vers son compte bancaire/Paypal, les montants liés au crédit de portefeuille
                </p>
                <p><span class="bold bluetxt">5.1.3.</span><span class="bold"> Un acheteur verra sur son compte différentes sortes de
                                    transactions </span>comme le montant d’achats annulés, le remboursement se fait sur le
                    portefeuille, les transactions liées à des paiements d'achats via le portefeuille, les
                    virements vers son compte bancaire/Paypal, les montants liés au crédit de portefeuille</p>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle>
                <span>5.2. Que faire si mon paiement a été rejeté ?</span>

            </div>
            <div >
                <p>Il se peut que la transaction ait été refusée par votre banque comme par exemple à cause
                    d'une application de leur procédure de sécurité. Il faudrait alors vous rapprocher de votre
                    banque, afin qu’elle vous autorise la transaction
                </p>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle>
                <span>5.3. Quelles sont les modes de paiement possibles sur Noodra ?</span>

            </div>
            <div >
                <p>Carte bancaire</p>
                <p>Paypal</p>
                <p>Portefeuille Noodra</p>
            </div>
        </div>
    </div>
    <h2>6. SECURITE</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>6.1. Mon paiement sur Noodra est-il sécurisé ?</span>

        </div>
        <div >
            <p>Votre paiement sur Noodra est sécurisé et en conformité avec les bonnes pratiques actuelles.
                <br />Toutes les données que vous nous communiquez lors de votre paiement sont protégées et limitées à l'usage que vous spécifiez avec votre autorisation. Nous n'avons pas accès à vos données bancaires, elles sont cryptées et transférées de manière sécurisée à notre
                prestataire de paiement Stripe. S'il y a le moindre problème, nous vous remboursons directement.
            </p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>6.2. Comment éviter les fraudes</span>

        </div>
        <div >
            <p>La majorité des fraudes concernent des <span class="bold">vols de carte bleue</span> et <span class="bold">comptes Paypal qui se font en dehors du site Noodra.</span> Vous trouverez ci-dessous quelques conseils pour les éviter les fraudes:
            </p>
            <ul>
                <li>Ne donnez pas vos informations bancaires ou Paypal à des personnes auxquelles vous n'avez pas confiance</li>
                <li>Contactez immédiatement votre banque à la moindre transaction douteuse sur votre compte bancaire</li>
                <li>Ne tapez pas votre mot de passe si quelqu'un d'autre regarde votre clavier</li>
                <li>Créez un mot de passe complexe : 8 caractères minimum, au moins 1 chiffre, 1 caractère spécial et une majuscule</li>
                <li>Changez votre mot de passe au moins 2 fois par an</li>
                <li>Ne cliquez pas sur un lien dans un email sans le lire. Les adresses email avec lesquels nous communiquons avec vous se composent ainsi : quelquechose&#64;noodra.com</li>
            </ul>
        </div>
    </div>
</div>