.new-products-list {
    .new-products-title {
        color: #f8c43d;
        text-transform: uppercase;
        display: block;
        text-align: center;
        font-size: 1.875rem;
        line-height: 2.5625rem;
        font-family: HelveticaNeueBold;
        font-weight: 700;
        padding-bottom: 1rem;
        padding-top: 2rem;
    }

    .product-sheet-gallery-container {
        margin-top: 35px;
    }
}