<app-european-account [fieldsEuropeanbankAccount]='fieldsEuropeanbankAccount' [listCountries]='listCountries'>
</app-european-account>
<app-international-account [fieldsInternationalbankAccount]='fieldsInternationalbankAccount'
    [listCountries]='listCountries'></app-international-account>
<app-paypal-account [fieldsPaypalAccount]='fieldsPaypalAccount'></app-paypal-account>
<app-westernunion-account [fieldsWesternunionAccount]='fieldsWesternunionAccount' [listCountries]='listCountries'>
</app-westernunion-account>