<div class="small-container">
    <div class="cgu">
        <h4 class="display-6 bold">Politique de cookies</h4>
        <p>
            Version mise à jour le 06 décembre 2023
        </p>
        <h4 class="lead my-2"> AVANT-PROPOS </h4>
        <p>
            Nous comprenons l'importance de votre confidentialité et de la manière dont les informations sont traitées
            lors de votre visite sur notre site.
            Cette politique des cookies a été élaborée dans le souci de vous informer sur l'utilisation des cookies
            conformément à la législation en vigueur,
            notamment la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
        </p>
        <p>
            Notre engagement envers le respect des lois françaises et européennes sur la protection des données,
            notamment le Règlement général sur la protection des données (RGPD) de l'Union européenne,
            se reflète également dans notre approche en matière de cookies. Cette politique régit la collecte,
            l'utilisation et le traitement de vos données à travers l'utilisation de cookies,
            en stricte conformité avec les normes réglementaires, telles que la loi Informatique et libertés en France.
        </p>
        <hr />
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                1. Que sont les cookies ?
            </div>
            <div>
                <p>
                    Nous utilisons des cookies sur notre site dans le but d'améliorer votre expérience en ligne.
                    Ces petits fichiers texte permettent de recueillir des informations sur votre navigation, aidant
                    ainsi à personnaliser le contenu et à fournir des fonctionnalités adaptées à vos préférences.
                    Soyez assurés que la collecte de ces cookies est effectuée en conformité avec les normes de
                    confidentialité en vigueur,
                    et votre consentement préalable est toujours recherché pour les cookies nécessitant une
                    autorisation.
                </p>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                2. Quels types de cookies utilisons nous ?
            </div>
            <div>

                <p>
                    Lorsque vous visitez notre site web, deux types de cookies peuvent être collectés afin d'améliorer
                    votre expérience en ligne.
                    Les cookies de première partie, émis directement par notre site, sont essentiels pour assurer le bon
                    fonctionnement de nos services.
                    De plus, nous utilisons des cookies tiers émis par des partenaires externes, notamment à des fins
                    d'analyse et de personnalisation de la publicité.
                    Notre engagement envers la protection de votre vie privée est fondamental,
                    et nous vous invitons à consulter intégralement notre politique de cookies pour en savoir plus sur
                    la manière dont ils sont utilisés
                    et comment vous pouvez exercer un contrôle sur leur gestion. Pour résumer, nous utilisons :
                </p>
                <ul>
                    <li> <strong>Les cookies de première partie : </strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Émis
                        directement par notre site web.<br>&nbsp;&nbsp;&nbsp;&nbsp; - Essentiels pour le bon
                        fonctionnement et l'amélioration de l'expérience de navigation.
                    </li>
                    <li> <strong>Les cookies tiers : </strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Émis par des
                        partenaires externes.<br>&nbsp;&nbsp;&nbsp;&nbsp; - Utilisés notamment à des fins d'analyse et
                        de personnalisation de la publicité.
                    </li>
                </ul>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                3. Votre choix : cookies facultatifs
            </div>
            <div>
                <p>
                    La collecte de données, via l'utilisation de cookies, est une démarche entièrement facultative sur
                    notre plateforme.
                    Nous respectons votre vie privée et vous offrons la possibilité de gérer vos préférences en matière
                    de cookies pour garantir une expérience adaptée à vos attentes.
                    De plus, Noodra accorde une grande importance à la protection de votre vie privée.
                </p>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                4. Combien de temps les cookies restent sur votre appareil ?
            </div>
            <div>
                <p>
                    Nous utilisons donc deux types de cookies sur notre site web : les cookies de session et les cookies
                    persistants.
                    Les cookies de session sont temporaires et sont automatiquement supprimés dès que vous fermez votre
                    navigateur.
                    Ils sont essentiels pour garantir une navigation fluide pendant votre visite sur notre site.
                    En revanche, les cookies persistants demeurent sur votre appareil même après la fermeture du
                    navigateur,
                    jusqu'à ce qu'ils atteignent leur date d'expiration prédéfinie ou soient supprimés manuellement par
                    vous.
                    Ces cookies persistent afin de stocker des informations utiles pour des visites ultérieures,
                    améliorant ainsi votre expérience en vous offrant un accès plus rapide et personnalisé.
                    Nous tenons à vous assurer que ces cookies sont utilisés conformément à notre politique de
                    confidentialité,
                    et vous avez la possibilité de gérer ces préférences via les paramètres de votre navigateur.
                </p>

            </div>
        </div>

        <div appAccordian>
            <div appAccordianTitle [open]="true">
                5. Conditions de suppression des cookies
            </div>
            <div>
                <p>
                    Par conséquent, vous êtes libre d’ajustez les réglages de votre navigateur web selon vos préférences
                    en termes de cookies avec :
                </p>

                <ul>
                    <li> <strong>Google Chrome : </strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Cliquez sur les trois
                        points verticaux en haut à droite, <br>&nbsp;&nbsp;&nbsp;&nbsp; - Sélectionnez "Historique" puis
                        "Historique",
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Cliquez sur "Effacer les données de navigation",
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Cochez "Cookies et autres données de site" et cliquez sur
                        "Effacer les données".
                    </li>
                    <li> <strong>Mozilla Firefox : </strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Cliquez sur les
                        trois lignes horizontales en haut à droite, <br>&nbsp;&nbsp;&nbsp;&nbsp; - Sélectionnez
                        "Options" puis "Vie privée et sécurité",
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Sous la section "Cookies et données de site web", cliquez
                        sur "Effacer les données…", <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Cochez "Cookies" et cliquez sur
                        "Effacer".
                    </li>
                    <li> <strong>Microsoft Edge : </strong> <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Cliquez sur les
                        trois points horizontaux en haut à droite, <br>&nbsp;&nbsp;&nbsp;&nbsp; - Sélectionnez
                        "Historique" puis "Effacer les données de navigation",
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Cochez "Cookies et données de site web" et cliquez sur
                        "Effacer".
                    </li>
                    <li> <strong>Safari : </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Cliquez sur "Historique" dans
                        la barre de menus, <br>&nbsp;&nbsp;&nbsp;&nbsp; - Sélectionnez "Effacer l'historique",
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Choisissez la plage de temps et cliquez sur "Effacer
                        l'historique".
                    </li>
                    <li> <strong>Opera : </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Cliquez sur “Paramètres” puis
                        “Avancé”, <br>&nbsp;&nbsp;&nbsp;&nbsp; - Sélectionnez “Confidentialité et Sécurité” et
                        “Paramètres de contenu”,
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Choisissez “Cliquer sur les cookies”,
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Désactivez “Conserver les données locales uniquement jusqu'à
                        ce que vous quittiez votre navigateur”.
                    </li>
                </ul>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                8. Quels sont les moyens de nous contacter ?
            </div>
            <div>
                <p>
                    N'hésitez pas à entrer en contact avec nous pour toute question, ou collaboration potentielle. Nous
                    sommes ravis de vous entendre et de vous offrir toute l'assistance nécessaire.
                    Pour nous joindre, veuillez envoyer un courriel à l'adresse suivante : <a
                        href="mailto:contact@noodra.com">contact&#64;noodra.com</a>.
                    Nous nous efforcerons de répondre à toutes vos requêtes dans les plus brefs délais.
                    Merci de choisir Noodra et de permettre à notre équipe de vous offrir une expérience exceptionnelle.
                </p>

            </div>
        </div>

    </div>
</div>