<div class="small-container">
    <div class="cgu" id="cgu">
        <h4 class="display-6 bold">Politique de confidentialité</h4>
        <p>
            Version mise à jour le 06 décembre 2023
        </p>
        <h4 class="lead my-2"> AVANT-PROPOS </h4>
        <p>
            Nous sommes conscients de votre vigilance à l'égard de l'utilisation et de la diffusion de vos données personnelles. 
            Cette politique a pour but de vous informer sur la manière dont sont traitées vos données personnelles en respect de la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. 
        </p>
        <p>
            Nous nous engageons à respecter les lois françaises et européennes sur la protection des données, 
            notamment le Règlement général sur la protection des données (RGPD) de l'Union européenne et la législation nationale française en matière de protection des données, 
            telle que la loi Informatique et libertés. La présente politique de confidentialité régit la collecte, le traitement et l'utilisation de vos données personnelles conformément à ces réglementations.
        </p>
        <hr/>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                1.	Pourquoi collectons-nous vos données ? 
            </div>
            <div>
                <p>
                    Chez Noodra, la collecte de vos données est orientée vers l'amélioration de votre expérience d'achat et l'optimisation de nos services. 
                    Nous utilisons diverses données pour personnaliser votre interaction avec notre site et pour garantir la sécurité de votre expérience. 
                    En continuant à utiliser notre site, vous consentez à cette collecte, qui vise à atteindre les objectifs suivants : 
                </p>

                <ul>
                    <li> <strong>Une personnalisation de l'expérience :</strong> Nous personnalisons votre expérience en ligne en adaptant le contenu et les fonctionnalités de notre site à vos préférences individuelles. 
                    </li>
                    <li> <strong>Une amélioration de nos services :</strong> En analysant diverses données, nous recueillons des informations précieuses sur la manière dont vous interagissez avec notre site.
                        Cela nous permet d'identifier des zones d'amélioration et d'optimiser nos services pour mieux répondre à vos besoins.  
                    </li>
                    <li> <strong>Une navigation plus efficace :</strong> Les données collectées contribuent à rendre la navigation sur notre site plus efficace en enregistrant vos préférences, éliminant ainsi la nécessité de saisir les mêmes informations à chaque visite.
                    </li>
                    <li> <strong>Une sécurité et prévention des activités frauduleuses :</strong> Certaines données sont utilisées à des fins de sécurité, aidant à détecter et à prévenir les activités frauduleuses sur notre site, assurant ainsi la protection de vos transactions et de vos informations personnelles. 
                    </li>
                    <li> <strong>Une analyse statistique :</strong> Nous utilisons les données pour recueillir des statistiques agrégées, nous offrant une compréhension approfondie des tendances générales d'utilisation. Cette analyse informée guide nos décisions pour constamment améliorer nos services.
                    </li>
                </ul>

            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                2. Quels sont les données que nous récoltons ?  
            </div>
            <div>

                <p>
                    <strong>2.1 Les données essentielles</strong>
                </p>

                <p>
                    Chez Noodra, la transparence et la protection de votre vie privée sont des priorités essentielles. 
                    Nous souhaitons vous informer de manière claire et complète sur les types de données que nous collectons. 
                    Veuillez prendre quelques instants pour vous tenir informé des données suivantes qui sont collectées : 
                </p>
                <ul>
                    <li> <strong>Informations d'identification : </strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Noms, prénoms, et identifiants uniques associés aux utilisateurs.<br>&nbsp;&nbsp;&nbsp;&nbsp; - Informations de connexion (adresses e-mail et mots de passe).
                    </li>
                    <li> <strong>Informations de profil :</strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Informations démographiques (âge, sexe, lieu de résidence, etc.).  <br>&nbsp;&nbsp;&nbsp;&nbsp; - Préférences et paramètres de compte.
                    </li> 
                    <li> <strong>Coordonnées :</strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Adresses postales et de livraison. <br>&nbsp;&nbsp;&nbsp;&nbsp; - Numéros de téléphone. 
                    </li>
                    <li> <strong>Données financières : </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Informations de paiement (cartes de crédit, informations bancaires).  <br>&nbsp;&nbsp;&nbsp;&nbsp; - Historique des transactions. 
                    </li>
                    <li> <strong>Données de transaction : </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Détails sur les produits ou services achetés ou vendus.  <br>&nbsp;&nbsp;&nbsp;&nbsp; - Historique des achats et des ventes. 
                    </li>
                    <li> <strong>Données de navigation : </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Informations sur l'utilisation du site web ou de l'application. 
                    </li>
                    <li> <strong>Données de communication :  </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Historique des communications avec le service client.  <br>&nbsp;&nbsp;&nbsp;&nbsp; - Messages et commentaires sur les produits ou les vendeurs. 
                    </li>
                    <li> <strong>Données de géolocalisation : </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Informations sur l'emplacement de l'utilisateur (notamment pour la livraison).
                    </li>
                </ul>

                <p>
                    <strong>2.2 Qu'en est-il des cookies ?</strong>
                </p>
                <p>
                    Les cookies jouent un rôle essentiel dans l'optimisation de votre expérience sur notre plateforme. 
                    Ces petits fichiers collectent des informations sur vos activités en ligne, contribuant ainsi à personnaliser votre interaction avec notre site, à améliorer nos services, 
                    et à rendre votre navigation plus efficace. Pour en savoir plus sur notre utilisation des cookies, veuillez consulter la section dédiée dans notre politique de cookies. 
                </p>

             </div>
             </div>   
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                3. Les droits dont vous disposez
            </div>
            <div>
                <p>
                    En tant qu'utilisateur de nos services, vous disposez de droits significatifs liés au traitement de vos données à caractère personnel. Ces droits comprennent : 
                </p>
                <ul>
                    <li> <strong>D'obtenir des informations :</strong>Vous pouvez demander des informations sur le traitement de vos données à caractère personnel. 
                    </li>
                    <li> <strong>D'accéder à vos données :</strong> Vous avez le droit d'obtenir l'accès aux données détenues à votre sujet. 
                    </li>
                    <li> <strong>De rectifier vos données :</strong> Vous avez la possibilité de demander la correction des données incorrectes, inexactes ou incomplètes.
                    </li>
                    <li> <strong>De supprimer vos données :</strong> Demander la suppression de vos données lorsque celles-ci ne sont plus nécessaires ou si leur traitement est illicite.
                    </li>
                    <li> <strong>De vous opposer au traitement :</strong>Vous opposer au traitement de vos données à des fins de prospection ou pour des raisons liées à votre situation particulière.
                    </li>
                    <li> <strong>De demander la limitation du traitement :</strong>Demander la limitation du traitement de vos données à caractère personnel dans des cas précis.
                    </li>
                    <li> <strong>De récupérer vos données :</strong>Récupérer vos données personnelles, dans un format utilisé et lisible par machine, pour un usage personnel ou pour les transférer à un autre organisme.
                    </li>
                    <li> <strong>De recours en cas de violation du RGPD :</strong>En cas de dommage matériel ou moral lié à la violation du RGPD, vous disposez d'un droit de recours. 
                        Vous pouvez déposer une réclamation auprès de la Commission nationale Informatique et libertés (CNIL) 
                        ou introduire une action collective en faisant notamment appel aux associations nationales agréées de défense des consommateurs. 
                    </li>
                </ul>


                <p>
                    Ces droits visent à vous donner un contrôle total sur vos données personnelles, et nous nous engageons à respecter et faciliter leur exercice. 
                    Pour toute demande ou clarification concernant l'exercice de ces droits, n'hésitez pas à nous contacter  
                </p>

            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                4. Caractère facultatif de la collecte des données
            </div>
            <div>
                <p>
                    La collecte de données sur notre plateforme demeure une démarche entièrement facultative. 
                    Nous valorisons votre vie privée et vous donnons la possibilité de gérer vos préférences en matière de collecte de données, afin de vous assurer une expérience personnalisée conforme 
                    à vos attentes. Chez Noodra, la préservation de votre vie privée revêt une importance capitale, et nous nous engageons à mettre en œuvre des pratiques transparentes et sécurisées dans le 
                    traitement de vos informations.
                </p>
                
            </div>
        </div>

        <div appAccordian>
            <div appAccordianTitle [open]="true">
                5. Condition de suppression des données
            </div>
            <div>
                <p>
                    Dans le cadre de notre engagement envers la transparence et le respect de vos droits, nous vous offrons la possibilité de comprendre et de gérer la conservation de vos données. 
                    Les conditions de suppression des données que nous mettons en place visent à vous donner un contrôle total sur les informations que vous partagez avec nous. 
                    Veuillez trouver ci-dessous les principales conditions auxquelles nous nous conformons lors de la suppression des données, 
                    afin de vous assurer une expérience en ligne conforme à vos attentes :
                </p>
                <ul>
                    <li> <strong>Demande de l'utilisateur :</strong>Vous pouvez demander la suppression de vos données. Cette demande peut être faite par le formulaire de contact ou une demande écrite.  
                    </li>
                    <li> <strong>Durée de conservation :</strong> Les données peuvent être conservées pendant une période déterminée nécessaire à la finalité pour laquelle elles ont été collectées. 
                    Une fois cette période expirée, les données seront supprimées, sauf si une autre base légale justifie la conservation. 
                    </li>
                    <li> <strong>Finalité de la collecte :</strong> Les données seront supprimées lorsque la finalité pour laquelle elles ont été collectées n'est plus applicable. 
                    Si les données ne sont plus nécessaires pour fournir un service, répondre à une demande ou atteindre l'objectif initial, elles seront effacées. 
                    </li>
                    <li> <strong>Consentement révoqué :</strong> Si les données ont été collectées sur la base de votre consentement et que vous révoquez votre consentement, 
                    les données associées seront supprimées, sauf si une autre base légale justifie la conservation.
                    </li>
                    <li> <strong>Obligations légales :</strong>Les données seront supprimées si la loi l'exige, par exemple, en réponse à une demande légale ou en conformité avec d'autres obligations légales.
                    </li>
                </ul>
            </div>
        </div>

        <div appAccordian>
            <div appAccordianTitle [open]="true">
                6. Durée de conservation des données
            </div>
            <div>

                <p>
                    Pour garantir la transparence de nos pratiques, nous conservons vos données personnelles aussi longtemps que nécessaire pour atteindre les objectifs spécifiques pour 
                    lesquels elles ont été collectées. Voici les différentes données possibles :  
                </p>
                
                <ul>
                    <li> <strong>Données du compte utilisateur :</strong>Les données associées aux comptes utilisateurs peuvent être conservées tant que le compte est actif. 
                        Si vous décidez de fermer votre compte, les données personnelles peuvent être supprimées ou anonymisées. 
                    </li>
                    <li> <strong>Données de transaction :</strong> Les informations de transaction peuvent être conservées pour répondre aux exigences fiscales et comptables.  
                    </li>
                    <li> <strong>Données de facturation :</strong> Les informations de facturation peuvent être conservées conformément aux obligations légales en matière de comptabilité et de fiscalité. 
                    </li>
                    <li> <strong>Données de communication :</strong> Les données liées aux communications avec les utilisateurs, 
                        telles que les messages de service après-vente, peuvent être conservées pour assurer un suivi adéquat des demandes et des problèmes.
                    </li>
                </ul>

            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                7.	De quelle manière vos données sont transférées ? 
            </div>
            <div>
                <p>
                    Découvrons maintenant les procédés et les sécurités encadrant le transfert de vos données, assurant ainsi une gestion conforme aux normes et réglementations en vigueur. 
                    Veuillez prendre en compte que les lois et les normes en matière de confidentialité, notamment les droits d'accès des autorités à vos données personnelles, 
                    peuvent différer de celles de votre pays de résidence :   
                </p>
                <ul>
                    <li> <strong>Transferts intra-UE :</strong>Les transferts de données entre les pays de l'UE sont généralement libres, car ils sont tous soumis au RGPD, 
                        garantissant un niveau élevé de protection des données. 
                    </li>
                    <li> <strong>Transferts vers des pays disposant d'une décision d'adéquation :</strong> Certains pays hors de l'UE ont obtenu une décision d'adéquation de la Commission européenne, 
                        signifiant qu'ils assurent un niveau de protection des données adéquat. Les transferts de données vers ces pays sont autorisés sans nécessiter de mesures supplémentaires.  
                    </li>
                    <li> <strong>Transferts vers des pays sans décision d'adéquation : </strong> Dans ce cas, nous nous baserons sur de clauses contractuelles types (CCT), de règles d'entreprise contraignantes (BCR) 
                        ou d'autres mécanismes approuvés par les autorités de protection des données. 
                    </li>
                    <li> <strong>Transferts vers les États-Unis :</strong>Le Privacy Shield, qui permettait aux entreprises américaines de s'auto-certifier pour recevoir des données de l'UE, 
                        a été invalidé en 2020. Nous nous appuierons donc sur des clauses contractuelles types.
                    </li>
                </ul>

            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                8.	Quels sont les moyens de nous contacter ? 
            </div>
            <div>
                <p>
                    N'hésitez pas à entrer en contact avec nous pour toute question, ou collaboration potentielle. Nous sommes ravis de vous entendre et de vous offrir toute l'assistance nécessaire. 
                    Pour nous joindre, veuillez envoyer un courriel à l'adresse suivante : <a href="mailto:contact@noodra.com">contact&#64;noodra.com</a>. 
                    Nous nous efforcerons de répondre à toutes vos requêtes dans les plus brefs délais. 
                    Merci de choisir Noodra et de permettre à notre équipe de vous offrir une expérience exceptionnelle. 
                </p>

            </div>
        </div>
        
    </div>
</div>