<div class="loadingio-spinner-spinner-jp8q9dvwbir">
    <div class="ldio-fmoz9cjzw0d">
        <div [class]="bg"></div>
        <div [class]="bg"></div>
        <div [class]="bg"></div>
        <div [class]="bg"></div>
        <div [class]="bg"></div>
        <div [class]="bg"></div>
        <div [class]="bg"></div>
        <div [class]="bg"></div>
        <div [class]="bg"></div>
        <div [class]="bg"></div>
        <div [class]="bg"></div>
        <div [class]="bg"></div>
    </div>
</div>