<div class="small-container column align-items mgb60 guideline" *ngIf="sub | async as referrer">
    <h2>CONSEILS POUR LE VENDEUR </h2>
    <h3>1. Offrez plusieurs options de livraison à vos clients: </h3>
    <p>59% des internautes abandonnent leur commande en raison d’options de livraison jugées
        insatisfaisantes</p>
    <ul>
        <li>Nous vous recommandons de proposer plusieurs options de livraison afin de vous adapter à vos
            clients. Vous pouvez créer un profil de livraison avec livraison simple et livraison express
        </li>
    </ul>
    <h3>2. Offrez les frais de livraison, un vrai argument de vente:</h3>
    <p>62% des acheteurs en ligne, abandonnent leur panier à cause des frais de ports jugés trop élevés.
        Ainsi, un article à 50 euros sans frais de port sera psychologiquement plus accepté qu’un article à
        45 euros avec 5 euros de frais de port.</p>
    <p class="bold">Mais comment offrir les frais de livraison sans trop réduire sa marge ?</p>
    <ul>
        <li>
            <span class="bold">Offrir les frais de port sur des produits définis</span><br />
            Par exemple : les produits légers et peu volumineux, car les frais de port ont de grandes
            chances d’être faibles ou offrir la livraison sur un produit en particulier pour écouler vos
            stocks
        </li>
        <li>
            <span class="bold">Ajouter les frais de livraison dans le prix du produit</span>
        </li>
        <li>
            <span class="bold">Offrir les frais de livraison à partir d’un minimum d'achat</span>
        </li>
    </ul>
    <h3>3. Mettez bien en avant votre boutique</h3>
    <p>Éléments clés de la boutique à traiter :</p>
    <ul>
        <li><span class="bold">Logo de boutique :</span> Mettez des photos claires qui représentent le style
            de votre marque pour faire bonne impression auprès des acheteurs. </li>
        <li><span class="bold">Message de bienvenue :</span> partagez un bref message de bienvenue avec les
            acheteurs. </li>
        <li><span class="bold">Téléchargez des photos et partagez le récit</span> qui se cache derrière vos
            produits, comment votre entreprise a été créée et quelle est votre vision de votre marque. </li>
        <li><span class="bold">Membres de la boutique :</span> Vous pouvez aussi présenter tous les autres
            membres de votre équipe ou les personnes avec lesquelles vous collaborez. </li>
        <li><span class="bold">Conditions générales de vente</span> de votre boutique: décrivez l’ensemble
            de vos conditions concernant l’expédition, les retours, les échanges, les remboursements, les
            articles personnalisés ou toute autre directive qui serait importante aux acheteurs</li>
    </ul>
    <h3>4. Fournissez toutes les informations nécessaires sur le produit:</h3>
    <p>18% acheteurs en ligne déclarent abandonner leur panier car “ils ne voient pas très bien le produit”.
    </p>
    <ul class="mgb60">
        <li>Offrez donc à l'acheteur toutes les informations dont il a besoin: tailles, dimension, matériel,
            détails techniques, images, etc. Vous devez aussi préciser le prix du produit, son coût final
            avec les frais de livraison, les réductions éventuelles et les délais de livraison.</li>
        <li>Favorisez des visuels de qualité: Pour mettre vos produits en valeur, choisissez des photos de
            bonne qualité, interactives (possibilité de zoomer). Entre 3 à 5 photos seront nécessaires pour
            maximiser la conversion </li>
    </ul>
    <div >
        <h2>AVANTAGES POUR LE VENDEUR </h2>
        <h3>1. Découvrez les avantages dont vous disposez : </h3>
        <p>Sur Noodra, les vendeurs bénéficieront d'une plateforme dynamique et conviviale offrant une visibilité maximale à leurs produits. 
           Grâce à une audience en constante expansion, les vendeurs auront accès à un marché vaste et diversifié, propice à l'augmentation de leurs ventes. 
           Noodra fournit une infrastructure technique solide et évolutive, ce qui signifie que vous n'avez pas à vous soucier des défis liés à la gestion de la marketplace, 
           et pouvez vous concentrer sur la croissance de votre activité. 
           De plus, notre système de paiement sécurisé assure aux vendeurs des transactions fluides et sans souci, renforçant ainsi leur confiance et leur fidélité. 
           Enfin, Noodra offre un support dédié et des ressources de formation pour aider les vendeurs à maximiser leur succès sur la plateforme, 
           garantissant une expérience positive et lucrative pour tous.</p>
    </div>
    <h2>1. MA BOUTIQUE</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>1.1. Comment créer ma boutique?</span>

        </div>
        <div >
            <p>Créez un compte avec votre adresse email, entrez vos informations personnelles et
                personnalisez votre boutique. Quelques conseils ci-dessous:
            </p>
            <p><span class="bold bluetxt">1.1.1.</span> <span class="bold">Choisissez le nom de votre
                                boutique: </span>Chaque boutique sur Noodra a un nom unique. Le nom que vous choisirez
                doit bien refléter l’identité de votre marque et l’esprit de vos produits. Vous pourrez
                toujours changer le nom de votre boutique ultérieurement</p>
            <p><span class="bold bluetxt">1.1.2.</span> <span class="bold">Ecrivez une description pour
                                votre boutique: </span>La description de votre boutique devrait être courte et
                chaleureuse et refléter l'histoire et l’esprit de vos produits car les acheteurs aiment en
                savoir plus sur les produits qu'ils vont acheter. </p>
            <p><span class="bold bluetxt">1.1.3.</span> <span class="bold">Ajoutez un avatar à votre
                                boutique: </span>L'avatar augmente la visibilité de votre boutique sur le site, lui
                donne une dimension esthétique et contribue à la construction de l’identité de votre marque
            </p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
                        <span>1.2. Comment définir le délai de traitement et livraison d'un produit sur ma boutique
                            ?</span>

        </div>
        <div >
            <p><span class="bold bluetxt">1.2.1.</span> Le délai que vous indiquez dans vos profils de
                livraison doit correspondre au traitement (confection également si l'article est fait
                sur-mesure) et à la livraison des commandes afin de donner à l’acheteur une bonne estimation
                du temps durant lequel il va devoir patienter jusqu’à la réception de sa commande
            </p>
            <p><span class="bold bluetxt">1.2.2.</span> Si un retard est prévu, il faut en informer le
                client le plus vite possible</p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>1.3. Quelles sont les produits que je n’ai pas le droit de vendre sur ma boutique?</span>

        </div>
        <div >
            <p><span class="bold bluetxt">1.3.1.</span> Les produits dont les photos ne sont pas claires</p>
            <p><span class="bold bluetxt">1.3.2.</span> Les produits interdits définis dans les Conditions
                Générales de vente</p>
            <p><span class="bold bluetxt">1.3.3.</span> Les produits qualifiés de copie ou de plagiat: Il
                est interdit d’utiliser les photos d’autres marques ou sites. Il faut uniquement mettre des
                photos qui vous appartiennent. Il est interdit aussi de proposer des produits identiques à
                celles d’une autre marque existante</p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>1.4. Comment contester une évaluation ?</span>

        </div>
        <div >
            <p>Si vous pensez qu'une évaluation à votre encontre est injuste, calomnieuse ou mensongère,
                vous pouvez contacter l’équipe Noodra qui se chargera d’analysela situation et de supprimer
                le commentaire en question si nécessaire</p>
        </div>
    </div>
    <h2>2. LA VENTE SUR NOODRA</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>2.1. Comment se passe la vente sur Noodra?</span>

        </div>
        <div >
            <p>Sur Noodra, chaque vendeur est en charge de sa boutique, qu'il crée et gère. <span class="bold">Une commission de seulement 9% ou de 14% suivant votre affiliation</span> est prélevée sur chaque
                vente.
            </p>
            <p><span class="bold bluetxt">2.1.1.</span> Le vendeur met ses produits en ligne, décide du
                prix des articles et gère lui-même les expéditions. Grâce au système de messagerie
                interne de Noodra, <span class="bold">il peut échanger avec les clientes</span> et les
                tenir au courant du statut de leurs commandes.</p>
            <p><span class="bold bluetxt">2.1.2.</span> L’acheteur peut commander chez plusieurs vendeurs
                différents, et toutes les commandes peuvent être payées en une fois</p>
            <p><span class="bold bluetxt">2.1.3.</span> En tant que tiers de confiance, Noodra n’intervient
                pas dans le processus d’achat mais est <span class="bold">garant de la fiabilité des
                                transactions.</span> Noodra s’assure que les acheteurs utilisent leurs achats et que les
                vendeurs soient payés une fois les articles livrés</p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>2.2. Quelles sont les étapes de la vente sur Noodra?</span>

        </div>
        <div >
            <p><span class="bold bluetxt">2.2.1.</span> <span class="bold">L’acheteur passe commande,</span>
                choisit son mode de paiement et reçoit un mail de confirmation. Il peut retrouver sa
                commande dans son espace "Mes commandes". Le vendeur reçoit une notification lui indiquant
                l’article commandé, ainsi que les informations du client. Il a <span class="bold">48h pour
                                l’accepter ou la refuser</span>, sinon la commande est automatiquement annulée, et la
                cliente remboursée dans son portefeuille Noodra.
            </p>
            <p><span class="bold bluetxt">2.2.2.</span> <span class="bold"> Le vendeur accepte la
                                commande,</span> et prépare le colis pour l'expédier. Le statut de la commande est « À
                expédier »</p>
            <p><span class="bold bluetxt">2.2.3.</span> <span class="bold"> Le vendeur expédie la
                                commande.</span> Un envoi avec un numéro de suivi est recommandé car il sert de preuve
                d'envoi en cas de litige</p>
            <p><span class="bold bluetxt">2.2.4.</span> <span class="bold"> L'acheteur reçoit et évalue sa
                                commande: statut “Terminée”.</span> Le produit est considérée comme reçu, et l'acheteur
                peut laisser une évaluation de sa commande. Le vendeur est alors payé dans son portefeuille.
                Les vendeurs sont responsables de leurs commandes jusqu'à la réception par l'acheteur. Si un
                acheteur ne reçoit pas son colis, le vendeur doit contacter son transporteur et faire tout
                son possible pour retrouver le colis et rembourser l'acheteur si nécessaire</p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>2.3. Comment accepter une commande sur Noodra?</span>

        </div>
        <div >
            <p>Une fois qu'une commande est passée, le vendeur a 48 heures pour l'accepter. En cas de refus
                ou d’annulation, le vendeur doit expliquer à l’acheteur pourquoi sa commande a été refusée.
                Après plus de 3 annulations en 5 jours ou plus de 10 annulations et/ou remboursements sur 30
                jours, la boutique peut être désactivée ou clôturée. Il faut alors contacter Noodra pour la
                réactiver
            </p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>2.4. Comment terminer une commande sur Noodra?</span>

        </div>
        <div >
            <p><span class="bold bluetxt">2.4.1.</span> L'acheteur accuse réception de sa commande et laisse
                s’il le souhaite une évaluation au vendeur</p>
            <p><span class="bold bluetxt">2.4.2.</span> Si après 30 jours l'acheteur n’a pas confirmé la
                réception de la commande, celle-ci se termine automatiquement</p>
            <p><span class="bold bluetxt">2.4.3.</span> Noodra peut clôturer manuellement la commande à la
                demande du vendeur s’il fournit une preuve que le colis a bien été livré</p>
        </div>
    </div>
    <div appAccordian id="affiliate">
        <div appAccordianTitle [open]="referrer.affiliate">
            <span>2.5. Comment devenir affilié sur Noodra?</span>

        </div>
        <div >
            <p>Une fois qu'une commande est passée, le vendeur a 48 heures pour l'accepter. En cas de refus
                ou d’annulation, le vendeur doit expliquer à l’acheteur pourquoi sa commande a été refusée.
                Après plus de 3 annulations en 5 jours ou plus de 10 annulations et/ou remboursements sur 30
                jours, la boutique peut être désactivée ou clôturée. Il faut alors contacter Noodra pour la
                réactiver
            </p>
        </div>
    </div>
    <div appAccordian id="ambassador">
        <div appAccordianTitle [open]="referrer.ambassador">
            <span>2.6. Comment devenir ambassadeur sur Noodra?</span>

        </div>
        <div >
            <p>Une fois qu'une commande est passée, le vendeur a 48 heures pour l'accepter. En cas de refus
                ou d’annulation, le vendeur doit expliquer à l’acheteur pourquoi sa commande a été refusée.
                Après plus de 3 annulations en 5 jours ou plus de 10 annulations et/ou remboursements sur 30
                jours, la boutique peut être désactivée ou clôturée. Il faut alors contacter Noodra pour la
                réactiver
            </p>
        </div>
    </div>
    <h2>3. RETOURS, ÉCHANGES ET REMBOURSEMENTS</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>3.1. Quelle est la politique de retours, d'échanges et de remboursements ?</span>

        </div>
        <div >
            <p><span class="bold">Les acheteurs ont un délai de 14 jours</span> pour effectuer un retour,
                après la réception de leur commande. Les remboursements se font sur le portefeuille Noodra.
                L’acheteur peut ensuite choisir d'utiliser les fonds pour passer une nouvelle commande, ou
                les transférer vers son compte bancaire ou Paypal
            </p>
            <p class="bold">Les frais de retour sont-ils à la charge du vendeur ou de l’acheteur?</p>
            <ul>
                <li>Les frais sont à la charge de l’acheteur si le produit est conforme à l’image / la
                    description et ne présente aucun défaut</li>
                <li>Les frais de retour sont à la charge du vendeur si le produit n’est pas conforme à
                    l’image / description et comporte des défauts </li>
            </ul>
            <p><span class="bold">Une fois le délai de 14 jours dépassé</span> chaque vendeur est
                responsable de ses conditions de vente en matière de retours, d'échanges et de
                remboursements qu’il doit communiquer clairement dans ses conditions générales de vente</p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>3.2. Comment gérer mes retours?</span>

        </div>
        <div >
            <p><span class="bold">L'adresse de retour est automatiquement donnée à vos clients</span><br />
                N’oubliez pas de bien renseigner votre adresse de retour qui doit être accessible par votre
                client lors de sa demande de retour contre échange ou remboursement.
            </p>
            <p><span class="bold">Le client n’est remboursé que lorsque vous recevez votre
                                colis.</span><br /> Vous pouvez aussi contester le remboursement, si vous estimez que la
                commande n’a pas été remise en bonne état. Pour cela, il suffit de contacter Noodra </p>
            <p>Vous pouvez accepter ou refuser un retour dans les 3 cas suivants:</p>
            <ul>
                <li>Les demandes faites 15 jours après la réception de l’article par le client</li>
                <li>Les maillots de bains et sous-vêtements</li>
                <li>Les articles faits sur-mesure</li>
            </ul>
        </div>
    </div>
    <h2>4. PAIEMENTS ET PORTEFEUILLE NOODRA</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>4.1. Comment se passe le paiement de ma vente ?</span>

        </div>
        <div >
            <p>Lors d'une commande, le paiement est perçu directement par Noodra. Le vendeur reçoit l'argent
                de sa vente dans son portefeuille sous certaines conditions:</p>
            <ul>
                <li>Le vendeur perçoit le montant de la recette sur son portefeuille lorsque la commande est
                    marquée comme terminée.</li>
                <li>Si l'acheteur ne confirme pas la réception après 30 jours, la commande est
                    automatiquement "Terminée", et le vendeur perçoit directement le montant de sa vente
                </li>
            </ul>
            <p>Noodra peut toujours annuler une commande. L'acheteur est automatiquement crédité du montant
                de son achat, dans son portefeuille Noodra. Une fois l’argent dans le portefeuille, il est
                possible de faire un virement. </p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>4.2. Quelles sont les modes de paiement possibles sur Noodra ?</span>

        </div>
        <div >
            <ul>
                <li>Carte bancaire</li>
                <li>Paypal</li>
                <li>Portefeuille Noodra</li>
            </ul>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>4.3. Comment fonctionne le portefeuille Noodra?</span>

        </div>
        <div >
            <p><span class="bold bluetxt">4.3.1.</span> A la création d’un compte Noodra, vous disposez d'un portefeuille virtuel où sont effectuées
                toutes les transactions monétaires de l’utilisateur</p>
            <p><span class="bold bluetxt">4.3.2.</span><span class="bold"> Un
                                vendeur verra sur son compte différentes sortes de transactions </span>
                comme le montant des ventes réalisées, le débit des commissions Noodra sur ses ventes, les
                virements vers son compte bancaire/Paypal, les montants liés au crédit de portefeuille
            </p>
            <p><span class="bold bluetxt">4.3.3.</span><span class="bold"> Un acheteur verra sur son compte différentes sortes de
                                transactions </span>comme le montant d’achats annulés, le remboursement se fait sur le
                portefeuille, les transactions liées à des paiements d'achats via le portefeuille, les
                virements vers son compte bancaire/Paypal, les montants liés au crédit de portefeuille</p>
        </div>
    </div>
    <h2>5. SECURITE</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>5.1. Comment éviter les fraudes</span>

        </div>
        <div >
            <p>La majorité des fraudes concernent des <span class="bold">vols de carte bleue</span> et <span class="bold">comptes Paypal qui se font en dehors du site Noodra.</span> Vous trouverez ci-dessous quelques conseils pour les éviter les fraudes:
            </p>
            <ul>
                <li>Ne donnez pas vos informations bancaires ou Paypal à des personnes auxquelles vous n'avez pas confiance</li>
                <li>Contactez immédiatement votre banque à la moindre transaction douteuse sur votre compte bancaire</li>
                <li>Ne tapez pas votre mot de passe si quelqu'un d'autre regarde votre clavier</li>
                <li>Créez un mot de passe complexe : 8 caractères minimum, au moins 1 chiffre, 1 caractère spécial et une majuscule</li>
                <li>Changez votre mot de passe au moins 2 fois par an</li>
                <li>Ne cliquez pas sur un lien dans un email sans le lire. Les adresses email avec lesquels nous communiquons avec vous se composent ainsi : quelquechose&#64;noodra.com</li>
            </ul>
        </div>
    </div>
</div>