<div class="small-container column align-items mgb60 guideline" *ngIf="sub | async as referrer">
    <h2>1. MY NOODRA ACCOUNT</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>1.1 How to create a Noodra account?</span>

        </div>
        <div >
            <p>Welcome to Noodra! We are delighted to have you with us! Registration is fast and free, just create an
                account by entering your email address and personal information. Once your account is confirmed by
                email, you can:
            </p>
            <ul>
                <li>Add items to your favorites</li>
                <li>Use the internal messaging system Noodra</li>
                <li>Ordering</li>
            </ul>
        </div>
    </div>
    <div class="accordian mgb40">
        <div appAccordianTitle>
            <span>1.2 How do I activate my Noodra account?</span>

        </div>
        <div >
            <p>Upon creation of your Noodra account, a confirmation email is sent to your email address from
                noreply&#64;noodra.com.<br/>
                Just click on "I activate my account" to activate it.
            </p>
            <p class="bluetxt bold">If you did not receive the confirmation email:</p>
            <ul>
                <li>Make sure it hasn't landed in your spam or junk mail folder</li>
                <li>If you use Gmail, also check your Social Networks and Promotions tabs
                </li>
            </ul>
            <p>If the problem persists, you can contact us on <a href="mail:contact@noodra.com"
                                                                 class="linkSecond">contact&#64;noodra.com</a></p>
        </div>
    </div>
    <h2>2. MY PURCHASES ON NOODRA</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>2.1. How to buy on Noodra ?</span>

        </div>
        <div >
            <p><span class="bluetxt bold">2.1.1.</span> <span class="bold"> Choose the category or the country</span> of
                the products you are looking for in the menu. To facilitate your search, filters are available. If you
                like a product, you can click on it to access its product sheet
            </p>
            <p><span class="bluetxt bold">2.1.2.</span><span class="bold"> Add the items you are interested in to the cart</span>
            </p>
            <p><span class="bluetxt bold">2.1.3.</span><span class="bold"> Fill in your delivery information</span></p>
            <p><span class="bluetxt bold">2.1.4.</span><span class="bold"> Choose</span>
                between the 3 available payment methods (paypal, credit card or Noodra wallet) then click on "Pay" to
                finalize your purchase.your order is confirmed as soon as you receive the confirmation on the site and
                by email
            </p>

        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>2.2 How do I buy on Noodra?</span>

        </div>
        <div >
            <p>On Noodra, each seller is in charge of his store, which he creates and manages.</p>
            <p><span class="bluetxt bold">2.2.1.</span> The seller puts his products online, decides on the price of the
                items and manages the shipments himself. Thanks to Noodra's internal messaging system, the seller can
                communicate with customers and keep them informed of the status of their orders</p>
            <p><span class="bluetxt bold">2.2.2.</span>The buyer can order from several different sellers, and all
                orders can be paid at once</p>
            <p><span class="bluetxt bold">2.2.3.</span> As a trusted third party, Noodra does not intervene in the
                purchasing process but is <strong class="bold">guaranteeing the reliability of transactions.</strong>
                Noodra ensures that buyers use their purchases and that sellers get paid once the items are delivered
            </p>
        </div>
    </div>
    <div class="accordian mgb40">
        <div appAccordianTitle>
            <span>2.3 How do I buy with my Noodra wallet?</span>

        </div>
        <div >
            <p>Place your order as usual. Then, when it's time to pay, select the "Wallet" option as your payment
                method. Your wallet will be automatically debited</p>
        </div>
    </div>
    <div  class="mgb40">
        <h2>3. MY ORDERS ON NOODRA</h2>
        <div appAccordian>
            <div appAccordianTitle>
                <span>3.1 What if the seller does not answer me?</span>

            </div>
            <div >
                <p>When you send a message to a seller, he has 48 hours to answer you. If you don't receive a reply,
                    please contact Noodra to report a dispute. We will contact him/her again in order to have a quick
                    answer. If there is still no answer 48 hours after our intervention, you can ask for the
                    cancellation and the refund of your order in the following cases:
                </p>
                <ul>
                    <li>orders in "Accepted" status (the order has not yet been shipped)</li>
                    <li><strong class="bold">For "Shipped" orders with a tracking number,</strong> we will try to
                        contact the seller, but you will have to wait to receive the package, and return it to the
                        seller in order to be refunded. In this case, we can track the package, and estimate as far as
                        possible its delivery date.
                    </li>
                    <li>You can also choose to wait for the seller to respond. It may be just a temporary problem
                    </li>
                </ul>
                <p>For a product inquiry, we invite you to be patient. The seller will answer you as soon as possible
                    but you can always contact the Noodra customer service who will always be available to help you as
                    much as possible</p>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle>
                <span>3.2 How do I cancel my order?</span>

            </div>
            <div >
                <p><span class="bluetxt bold">3.2.1. My order has not been shipped yet</span></p>
                <p>If the status of your order is "To be accepted" by the seller, you can cancel it at any time. If the
                    order has been accepted by the seller you can contact them to see if they would like to cancel it.
                    Once the order is canceled Upon cancellation of your order, you will be automatically refunded to
                    your Noodra wallet. You can choose to use the funds to place a new order, or transfer them to your
                    bank account, to your Paypal account or through Western Union.
                </p>
                <p><span class="bluetxt bold">3.2.2. My order has been shipped </span></p>
                <p>If your order is in "Expedited" status, it means that it has been shipped. If a tracking number
                    states that the package is being delivered, we recommend that you wait. If you receive it and still
                    want to cancel the order, you will have to send the package back to the seller following the return
                    procedure stipulated in the store's terms and conditions.
                </p>
                <p><span class="bluetxt bold">3.2.3. My order is finished</span></p>
                <p>If the status of the order is "Completed", it is no longer possible to cancel the order.</p>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle>
                <span>3.3. Why was my order cancelled?</span>

            </div>
            <div >
                <p><span class="bluetxt bold">3.3.1. The seller has not validated the order</span></p>
                <p>Once your order is placed, the seller has 48 hours to accept it, otherwise the order is automatically
                    cancelled
                </p>
                <p><span class="bluetxt bold">3.3.2. The seller has refused the order</span></p>
                <p>In case of refusal of an order, the seller must specify the reasons for this refusal
                </p>
                <p><span class="bluetxt bold">3.3.3. Noodra cancelled the order</span></p>
                <p>You will receive an email explaining the reason why we had to cancel the order
                </p>
            </div>
        </div>
        <div appAccordian id="delivery">
            <div appAccordianTitle [open]="referrer.delivery">
                <span>3.4. How does the delivery work?</span>

            </div>
            <div >
                <p><span class="bluetxt bold">3.4.1. The seller has not validated the order</span></p>
                <p>Once your order is placed, the seller has 48 hours to accept it, otherwise the order is
                    automatically cancelled
                </p>
                <p><span class="bluetxt bold">3.4.2. The seller refused the order</span></p>
                <p>In case of refusal of an order, the seller must specify the reasons for this refusal
                </p>
                <p><span class="bluetxt bold">3.4.3. Noodra cancelled the order</span></p>
                <p>You will receive an email explaining the reason why we had to cancel the order
                </p>
            </div>
        </div>
    </div>
    <div id="return" class="mgb40">
        <h2>4. RETURNS, EXCHANGES AND REFUNDS</h2>
        <div appAccordian>
            <div appAccordianTitle [open]="referrer.return">
                <span>4.1. What is the returns, exchanges and refunds policy?</span>

            </div>
            <div >
                <p><span class="bold bluetxt">As a buyer, you have 14 days</span> to make a return, after receiving the
                    order. Refunds are made to the Noodra wallet. You can then choose to use the funds to place a new
                    order, or transfer them to his bank or Paypal account
                </p>
                <p class="bold">Are the return shipping costs the responsibility of the seller or the buyer?</p>
                <ul>
                    <li>The costs are at the buyer's expense if the product is in accordance with the image/description
                        and has no defects
                    </li>
                    <li>The return costs are at the seller's expense if the product does not conform to the
                        image/description and has defects
                    </li>
                </ul>
                <p><span class="bold bluetxt">Once the 14-day period is over</span> each seller is responsible for its
                    terms and conditions of sale regarding returns, exchanges and refunds, which it must clearly
                    communicate in its terms and conditions of sale</p>
            </div>
        </div>
    </div>
    <div id="payment" class="mgb40">
        <h2>5. PAYMENTS AND TRANSFERS</h2>
        <div appAccordian>
            <div appAccordianTitle [open]="referrer.payment">
                <span>5.1. How does the Noodra portfolio work?</span>

            </div>
            <div >
                <p><span class="bold bluetxt">5.1.1.</span> When you create a Noodra account, you have a virtual wallet
                    where all the user's monetary transactions are made</p>
                <p><span class="bold bluetxt">5.1.2.</span><span class="bold"> A seller will see different kinds of transactions on his account </span>
                    such as the amount of sales made, the debit of Noodra commissions on his sales, the transfers to his
                    bank/Paypal account, the amounts related to the portfolio credit
                </p>
                <p><span class="bold bluetxt">5.1.3.</span><span class="bold"> A buyer will see different kinds of transactions on his account </span>as
                    the amount of cancelled purchases, refunds to the wallet, transactions related to payments for
                    purchases via the wallet, transfers to his bank/Paypal account, amounts related to wallet credit</p>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle>
                <span>5.2. What if my payment was rejected?</span>

            </div>
            <div >
                <p>It is possible that the transaction has been refused by your bank, for example because of an
                    application of their security procedure. In this case, you should contact your bank so that they
                    authorize the transaction.
                </p>
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle>
                <span>5.3. What are the possible payment methods on Noodra?</span>

            </div>
            <div >
                <p>Bank card</p>
                <p>Paypal</p>
                <p>Noodra wallet</p>
            </div>
        </div>
    </div>
    <h2>6. SECURITY</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>6.1. Is my payment on Noodra secure?</span>

        </div>
        <div >
            <p>Your payment on Noodra is secure and in accordance with current best practices.
                <br/>All the data you give us during your payment is protected and limited to the use you specify with
                your authorization. We do not have access to your bank details, they are encrypted and securely
                transferred to our payment provider Stripe. If there is any problem, we will refund you directly.
            </p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>6.2. How to avoid fraud</span>

        </div>
        <div >
            <p>The majority of frauds involve <span class="bold">credit card thefts</span> and <span class="bold">Paypal accounts that are made outside the Noodra website.</span>
                Below are some tips on how to avoid fraud:
            </p>
            <ul>
                <li>Don't give your banking or Paypal information to people you don't trust</li>
                <li>Contact your bank immediately if there are any suspicious transactions on your bank account</li>
                <li>Don't type your password if someone else is looking at your keyboard</li>
                <li>Create a complex password: minimum 8 characters, at least 1 number, 1 special character and a
                    capital letter
                </li>
                <li>Change your password at least twice a year</li>
                <li>Do not click on a link in an email without reading it. The email addresses we communicate with end
                    with: &#64;noodra.com
                </li>
            </ul>
        </div>
    </div>
</div>