<div class="noo-loader-container">
    <div class="noo-loader-content">
        <div class="circle-fade-dot"></div>
        <div class="circle-fade-dot"></div>
        <div class="circle-fade-dot"></div>
        <div class="circle-fade-dot"></div>
        <div class="circle-fade-dot"></div>
        <div class="circle-fade-dot"></div>
        <div class="circle-fade-dot"></div>
        <div class="circle-fade-dot"></div>
        <div class="circle-fade-dot"></div>
        <div class="circle-fade-dot"></div>
        <div class="circle-fade-dot"></div>
        <div class="circle-fade-dot"></div>
    </div>
</div>