<section class="abonnement">
    <div class="abonnement_item">
        <h3 class="abonnement_item--title">
            {{"home.subscription.title" | translate}}
        </h3>
        <p class="abonnement_item--desc">{{"home.subscription.desc" | translate}}</p>
        <a href="https://instagram.com/noodraofficial" target="_blank" class="linkMore">{{"home.subscription.subscribe" | translate}}</a>
    </div>
    <div class="abonnement_item">
        <img src="assets/medias/iphone.jpg" alt="">
    </div>
</section>