.abonnement {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 12.5rem;
    position: relative
}

.abonnement:after,
.abonnement:before {
    content: "";
    position: absolute;
    left: 0;
    right: -.75rem;
    height: 3.75rem;
    z-index: 1;
    -webkit-box-shadow: -.5rem .9375rem .625rem hsla(0, 0%, 47%, .2) inset;
    -moz-box-shadow: -.5rem .9375rem .625rem hsla(0, 0%, 47%, .2) inset;
    box-shadow: inset -.5rem .9375rem .625rem hsla(0, 0%, 47%, .2)
}

.abonnement:before {
    top: 0
}

.abonnement:after {
    bottom: -3.75rem
}

.abonnement_item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.abonnement_item--title {
    font-family: HelveticaNeueBold;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.5625rem;
    padding-bottom: 3.125rem
}

@media screen and (max-width:640px) {
    .abonnement_item--title {
        font-size: 1.125rem;
        line-height: 1.9375rem;
        padding-bottom: 1.875rem
    }
}

.abonnement_item--desc {
    font-family: HelveticaNeueLight;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.1875rem;
    padding-bottom: 3.75rem;
    text-align: center;
    width: 70%;
    margin: 0 auto
}

@media screen and (max-width:640px) {
    .abonnement_item--desc {
        font-size: 1rem;
        line-height: 1.6875rem;
        width: 100%;
        padding-bottom: 1.875rem
    }
}

.abonnement_item .linkMore {
    color: #fff;
    border-color: #0620c0;
    background: #0620c0;
    padding: 0 3.75rem
}

.abonnement_item:first-child {
    background: #f8c43d
}

@media screen and (max-width:48em) {
    .abonnement {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .abonnement_item:first-child {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding: 1.875rem .625rem
    }
}

/*.abonnement {
    display: flex;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
}

.abonnement::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3.75rem;
    z-index: 1;
    -webkit-box-shadow: -0.5rem 0.9375rem 0.625rem hsl(0deg 0% 47% / 20%) inset;
    -moz-box-shadow: -0.5rem 0.9375rem 0.625rem hsla(0, 0%, 47%, 0.2) inset;
    box-shadow: inset -0.5rem 0.9375rem 0.625rem hsl(0deg 0% 47% / 20%);
}

.abonnement:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3.75rem;
    z-index: 1;
    -webkit-box-shadow: -0.5rem 0.9375rem 0.625rem hsl(0deg 0% 47% / 20%) inset;
    -moz-box-shadow: -0.5rem 0.9375rem 0.625rem hsla(0, 0%, 47%, 0.2) inset;
    box-shadow: inset -0.5rem 0.9375rem 0.625rem hsl(0deg 0% 47% / 20%);
}

.abonnementLeft {
    width: 50%;
    height: 400px;
    background: #f8c43d;
    padding-top: 4rem;
}

.abonnementLeftHeading {
    font-family: HelveticaNeueBold;
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.5625rem;
    padding-bottom: 3.125rem;
}

.abonnementLeftParagraph {
    font-family: HelveticaNeueLight;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 2.1875rem;
    padding-bottom: 3.75rem;
    text-align: center;
    width: 70%;
    color: #fff;
    margin: 0 auto;
}

.abonnementLeftbuttonSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.abonnementLeftbuttonSection button {
    border-radius: 3.125rem;
    color: #fff;
    font-family: HelveticaNeueLight;
    text-align: center;
    height: 2.375rem;
    line-height: 2.1875rem;
    font-size: 1rem;
    border: 1px solid#0620c0;
    background: #0620c0;
    transition: all 0.5s ease;
    padding: 0 3.75rem;
}

.abonnementLeftbuttonSection button:hover {
    color: green;
    box-shadow: inset 0 -3rem 0 #f8c43d;
}

.abonnementRight {
    width: 50%;
    height: 400px;
}

.abonnementRightImg {
    width: 100%;
    height: 400px;
}*/