<section class="section histoire">
    <div class="small-container in-row align-items mgb60">
        <div class="nd-flex-1"><img [src]="'assets/img/about.jpg'" alt=""></div>
        <div class="nd-flex-1 pdl20">
            <h1 class="mainTitle mgb40 mgl0">
                NOODRA
            </h1>
            <p class="mgb20">
                What if with one click you could get this Turkish lamp in engraved metal and glass beads emblem of the
                Grand Bazaar of Istanbul? This Persian carpet colored with extracts of madder roots and cochineal? These
                handmade Peruvian earrings, a heritage of the Inca people? What if in one click, you could discover, buy
                and sell all the hidden treasures of the world?
            </p>
            <p class="mgb20">
                No need to travel around the world to discover the specialties of each country. Noodra finds them for
                you on its online platform, a virtual bazaar of the world at your fingertips!
            </p>
            <p class="mgb20">
                Our sellers are independent craftsmen, entrepreneurs combining tradition and modernity, daring designers
                who work to preserve and export their ancestral know-how.
            </p>
            <p class="mgb20">
                Noodra means "rarity" because each product on its platform is unique. Each product has a story... Would
                you like a story?
            </p>
        </div>
    </div>
    <div class="small-container in-row align-items mgb60">
        <a routerLink="/products" class="linkMore blue center">See all products</a>
    </div>
</section>