.pdb0 {
    padding-bottom: 0 !important
}

.pdb5 {
    padding-bottom: .3125rem
}

.pdb10 {
    padding-bottom: .625rem
}

.pdb20 {
    padding-bottom: 1.25rem
}

.pdb30 {
    padding-bottom: 1.875rem !important
}

.pdb40 {
    padding-bottom: 2.5rem !important
}

.pdb50 {
    padding-bottom: 3.125rem !important
}

.pdb60 {
    padding-bottom: 3.75rem !important
}

.pdr0 {
    padding-right: 0 !important
}

.pdr10 {
    padding-right: .625rem !important
}

.pdr20 {
    padding-right: 1.25rem !important
}

.pdr30 {
    padding-right: 1.875rem !important
}

.pdr40 {
    padding-right: 2.5rem !important
}

.pdt0 {
    padding-top: 0 !important
}

.pdl0 {
    padding-left: 0 !important
}

.pdl10 {
    padding-left: .625rem !important
}

.pdl20 {
    padding-left: 1.25rem !important
}

.pdl30 {
    padding-left: 1.875rem !important
}

.pdl40 {
    padding-left: 2.5rem !important
}

.pdl50 {
    padding-left: 3.125rem !important
}

.pdl60 {
    padding-left: 3.75rem !important
}