<section class="section pdr20 pdl20">

    <div class="box position-relative forget-password">
        <div class="loader-container" *ngIf="loaderState==true">
            <div>
                <app-loader-indicator bg="bg-light"></app-loader-indicator>
            </div>

        </div>
        <div class="box_title">
            {{'forget_password.title' | translate}}
        </div>
        <form class="box_content" [formGroup]="form.group">
            <div class="wrapperBox mgb20">
                <p>{{'forget_password.description' | translate}}</p>
            </div>
            <div class="wrapperBox mgb30" *ngFor="let field of listFields">
                <div class="info row">
                    <label [for]="field.key" class="bold mgb10"
                        [ngClass]="field.value.required ? 'required':''">{{field.value.label}}</label>
                    <input type="text" [id]="field.key" [formControlName]="field.key" />
                    <span class="helpInfo" *ngIf="field.value.help_text">{{field.value?.help_text}}</span>
                    <div class="error left" *ngFor="let err of errors">
                        <span *ngIf="err.key == field.key">
                            {{err.value}}
                        </span>
                        <!-- <span style="color: green;">
                      {{err.message}}
                    </span> -->
                    </div>
                </div>
            </div>
            <div class="btnVendeur mgt20">
                <button type="button" type="submit" class="linkMore blue" (click)="edit()"
                    style="width: 150px;">{{'button.send' |
                    translate}}</button>
            </div>
        </form>
    </div>
</section>