::ng-deep .ui-address-second-step {

    .countriesList {
        height: 42px;

        input {
            border-bottom: none !important;
        }

        .mat-form-field-appearance-fill .mat-form-field-flex {
            padding: 0em 0.75em 0 0.75em !important;
        }

        .mat-mdc-form-field-subscript-wrapper {
            display: none !important;
        }
    }

}