<h1 class="icon icon-product mainTitle">{{"products.title" | translate}}</h1>
<div class="box mgb30">
    <div class="box_title">
        <h2>{{"products.title" | translate}}</h2>
        <button [routerLink]="['create-product']" type="button" class="linkMore blue add show-modal">
            {{"product.btn_add_product" | translate}}
        </button>
    </div>
    <div class="box_content">
        <p class="small"> {{"boutique.add_products_msg" | translate}} </p>
        <div class="nd-rows wrap wrapper-category-products padt30">
            <app-single-product-card [product]="product" [parent]="'shop'" [currentLang]="_translate.currentLang"
                (deleteProduct)="onEditProduct($event)" (deleteProduct)="deleteConfirmation($event)" class="col-sur-4"
                *ngFor="let product of productsList| paginate: { itemsPerPage, currentPage, totalItems }">
            </app-single-product-card>
        </div>
        <div class="nd-rows space-betwenn">
            <div class="paginator-elements-per-page">
                <label for="items_per_page">{{"pagination.items_per_page_text" | translate}} </label>
                <select id="items_per_page" [(ngModel)]="itemsPerPage" (change)="getPage(1)">
                    <option *ngFor="let option of pageSizeOptions" [value]="option">{{option}}</option>
                </select>
            </div>
            <pagination-controls (pageChange)="getPage($event)" previousLabel="" nextLabel=""></pagination-controls>
        </div>
    </div>
</div>