<section class="section sellers">
    <div class="container">
        <div class="sellers_title">{{"home.seller.title" | translate}}</div>
        <ul class="sellers_steps">
            <li>{{"home.seller.first_step" | translate}}</li>
            <li>{{"home.seller.second_step" | translate}}</li>
            <li>{{"home.seller.third_step" | translate}}</li>
        </ul>
        <p> <a [routerLink]="['faq','seller']"
                style="font-size: .875rem !important; margin-bottom: 1rem !important; color: #1125ba !important;"
                class="decouvrir">{{"home.seller.decouvrir" | translate}} </a></p>
        <p class="desc">{{"home.seller.desc_1" | translate}}<br /> {{"home.seller.desc_2" | translate}}</p>
    </div>
</section>