<div class=" home">
    <div class="in-dev-mode-msg-container">
        <div style="text-align: center;">
            <h1 class="mainTitle">
                {{"home.coming_soon.coming_soon_text" | translate}}
            </h1>
        </div>

        <div class="container in-dev-mode-msg">
            {{"home.coming_soon.welome_text" | translate}}
        </div>
    </div>
    <div>
        <app-filter-section></app-filter-section>
    </div>
    <div>
        <app-about-section></app-about-section>
    </div>
    <div>
        <app-new-products-section></app-new-products-section>
    </div>

    <div>
        <app-seller-section></app-seller-section>
    </div>
    <div>
        <app-subscription-section></app-subscription-section>
    </div>
    <div>
        <app-newsletter-section></app-newsletter-section>
    </div>
</div>