<div class="small-container">
    <div class="cgu" id="cgu">
            <h4 class="display-6 bold">Privacy policy</h4>
            <p>
                Version updated on December 06, 2023
            </p>
            <h4 class="lead my-2"> PREFACE </h4>
            <p>
            We are aware that you must be vigilant with regard to the use and distribution of your personal data. 
            The purpose of this policy is to inform you about the way in which your personal data is processed in compliance with the French Data Protection Act no. 78-17 of January 6, 1978.
        </p>
        <p>
            We commit ourselves to complying with French and European data protection laws,
            including the European Union's General Data Protection Regulation (GDPR) and French national data protection legislation, 
            such as the French Data Protection Act. This privacy policy governs the collection, processing and use of your personal data in accordance with these regulations.
        </p>
        <hr/>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                1.	Why do we collect your data ? 
            </div>
            <div>
                <p>
                    At Noodra, we collect your data to improve your shopping experience and optimize our services. 
                    We use a variety of data to personalize your interaction with our website and to ensure a safe and secure experience. 
                    By continuing to use our website, you consent to this collection, which aims to achieve the following objectives: 
                </p>

                <ul>
                    <li> <strong>A personalized experience :</strong> We personalize your online experience by tailoring the content and functionality of our website to your individual preferences. 
                    </li>
                    <li> <strong>Improving our services :</strong> By analyzing various data, we collect valuable information about how you interact with our website.
                    This enables us to identify areas for improvement and optimize our services to better meet your needs.  
                    </li>
                    <li> <strong>More efficient navigation :</strong> The data collected helps to make browsing our site more efficient by saving your preferences, thus eliminating the need to enter the same information each time you visit.
                    </li>
                    <li> <strong>Security and prevention of fraudulent activities :</strong> Some data are used for security purposes, helping to detect and prevent fraudulent activity on our website, thus ensuring the protection of your transactions and personal information. 
                    </li>
                    <li> <strong>Statistical analysis :</strong> We use the data to gather aggregate statistics, giving us an in-depth understanding of general usage trends. This informed analysis guides our decisions to constantly improve our services.
                    </li>
                </ul>

            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                2. What data do we collect ? 
            </div>
            <div>

                <p>
                    <strong>2.1 Essential data</strong>
                </p>

                <p>
                    At Noodra, transparency and protecting your privacy are top priorities. 
                    We would like to provide you with clear and comprehensive information on the types of data we collect. 
                    Please take a moment to inform yourself about the following data that are collected: 
                </p>
                <ul>
                    <li> <strong>Identification information : </strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Names, first names and unique identifiers associated with users. <br>&nbsp;&nbsp;&nbsp;&nbsp; - Login information (e-mail addresses and passwords).  
                    </li>
                    <li> <strong>Profile information :</strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Demographic information (age, gender, place of residence, etc.).  <br>&nbsp;&nbsp;&nbsp;&nbsp; - Preferences and account settings.
                    </li> 
                    <li> <strong>Contact details :</strong><br> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Postal and delivery addresses. <br>&nbsp;&nbsp;&nbsp;&nbsp; - Phone numbers. 
                    </li>
                    <li> <strong>Financial data : </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Payment information (credit cards, bank details).  <br>&nbsp;&nbsp;&nbsp;&nbsp; - Transaction history. 
                    </li>
                    <li> <strong>Transaction data : </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Details of products or services bought or sold.  <br>&nbsp;&nbsp;&nbsp;&nbsp; - Purchase and sales history. 
                    </li>
                    <li> <strong>Navigation data : </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Information on the use of the website or application. 
                    </li>
                    <li> <strong>Communication data :  </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Customer service communication history.  <br>&nbsp;&nbsp;&nbsp;&nbsp; - Messages and comments about products or vendors. 
                    </li>
                    <li> <strong>Geolocation data : </strong><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- User location information (especially for delivery).
                    </li>
                </ul>

                <p>
                    <strong>2.2 And what about cookies ?</strong>
                </p>
                <p>
                    Cookies play an essential role in order to optimize your experience on our platform. 
                    These small files collect information about your online activities, helping to personalize your interaction with our website and improve our services, 
                    and make your browsing experience more efficient. To find out more about our use of cookies, please consult the dedicated section in our cookies policy. 
                </p>

             </div>
             </div>   
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                3. Rights that you have
            </div>
            <div>
                <p>
                    As a user of our services, you have significant rights in relation to the processing of your personal data. These rights include : 
                </p>
                <ul>
                    <li> <strong>To get information :</strong>You can request information about the processing of your personal data. 
                    </li>
                    <li> <strong>To access to your data :</strong> You have the right to obtain access to the data held about you. 
                    </li>
                    <li> <strong>To rectify your data :</strong> You have the right to request the correction of incorrect, inaccurate or incomplete data.
                    </li>
                    <li> <strong>To delete your data :</strong> Request the deletion of your data if its no longer required or if its processing is unlawful.
                    </li>
                    <li> <strong>To object to processing :</strong>Oppose the processing of your data for prospecting purposes or for reasons linked to your particular situation.
                    </li>
                    <li> <strong>To request the restriction of processing:</strong>Request the restriction of the processing of your personal data in specific cases.
                    </li>
                    <li> <strong>To recover your data</strong>Recover your personal data, in a used and machine-readable format, for personal use or for transfer to another organization.
                    </li>
                    <li> <strong>To have recourse in the event of a breach of the GDPR :</strong>In the event of material or non-material damage linked to the violation of the GDPR, you have a right of recourse. 
                    You can lodge a complaint with the CNIL. 
                    or take collective action, in particular through approved national consumer protection associations.
                    </li>
                </ul>


                <p>
                    These rights are intended to give you full control over your personal data, and we are committed to respecting and facilitating their exercise. 
                    Please do not hesitate to contact us if you have any questions or require clarification concerning the exercise of these rights.  
                </p>

            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                4. Optional nature of data collection
            </div>
            <div>
                <p>
                    Collecting data on our platform is entirely voluntary. 
                    We value your privacy and give you the opportunity to manage your data collection preferences to ensure a personalized experience that meets your expectations. 
                    At Noodra, preserving your privacy is of paramount importance, and we are committed to implementing transparent and secure practices in the handling of your information.
                </p>
                
            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                5. Data deletion conditions
            </div>
            <div>
                <p>
                    As part of our commitment to transparency and respect for your rights, we offer you the opportunity to understand and manage the retention of your data. 
                    The data deletion conditions we put in place aim to give you full control over the information you share with us. 
                    Please find below the main conditions we adhere to when deleting data, to ensure that your online experience meets your expectations:
                </p>
                <ul>
                    <li> <strong>User request :</strong>You may request the deletion of your data. This can be done via the contact form or by written request.  
                    </li>
                    <li> <strong>Shelf life :</strong> Data may be kept for a specific period of time necessary for the purpose for which it was collected. 
                    Once this period has expired, the data will be deleted, unless another legal basis justifies its retention.
                    </li>
                    <li> <strong>Purpose of collection :</strong> Data will be deleted when the purpose for which it was collected is no longer applicable. 
                    If the data is no longer required to provide a service, respond to a request or achieve the original purpose, it will be deleted. 
                    </li>
                    <li> <strong>Revoked consent :</strong> If data has been collected on the basis of your consent and you revoke your consent, the associated data will be deleted, 
                    unless another legal basis justifies its retention.
                    </li>
                    <li> <strong>Legal obligations :</strong>Data will be deleted if required by law, for example, in response to a legal request or in compliance with other legal obligations.
                    </li>
                </ul>
            </div>
        </div>

        <div appAccordian>
            <div appAccordianTitle [open]="true">
                6. Data retention period
            </div>
            <div>

                <p>
                    To ensure the transparency of our practices, we retain your personal data for as long as necessary to achieve the specific objectives for 
                    which they were collected. Here are the different types of data:  
                </p>
                
                <ul>
                    <li> <strong>User account data :</strong> Data associated with user accounts can be stored for as long as the account is active. 
                        Si vous décidez de fermer votre compte, les données personnelles peuvent être supprimées ou anonymisées. 
                    </li>
                    <li> <strong>Transaction data :</strong> Transaction information may be retained to meet tax and accounting requirements.  
                    </li>
                    <li> <strong>Billing data :</strong> Billing information may be stored in accordance with legal accounting and tax requirements. 
                    </li>
                    <li> <strong>Communication data :</strong> Data related to communications with users, 
                    such as after-sales service messages, can be stored to ensure proper follow-up of requests and problems.
                    </li>
                </ul>

            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                7.	How are your data transferred ?
            </div>
            <div>
                <p>
                    Now let's find out about the procedures and safeguards that govern the transfer of your data, to ensure that it is managed in compliance with current standards and regulations. 
                    Please note that privacy laws and standards, including the authorities' rights of access to your personal data, 
                    may differ from those of your country of residence:   
                </p>
                <ul>
                    <li> <strong>Intra-EU transfers :</strong>Data transfers between EU countries are generally free, as they are all subject to the GDPR, 
                    guaranteeing a high level of data protection. 
                    </li>
                    <li> <strong>Transfers to countries with an adequacy decision :</strong> Some countries outside the EU have obtained an adequacy decision from the European Commission, 
                    meaning that they provide an adequate level of data protection. Data transfers to these countries are authorized without the need for additional measures.  
                    </li>
                    <li> <strong>Transfers to countries without an adequacy decision : </strong> In this case, we base ourselves on standard contractual clauses (SCC), binding company rules (BCR), 
                    or other mechanisms approved by data protection authorities.
                    </li>
                    <li> <strong>Transfers to the United States :</strong>The Privacy Shield, which allowed US companies to self-certify to receive data from the EU, 
                    was invalidated in 2020. We will therefore rely on standard contractual clauses.
                    </li>
                </ul>

            </div>
        </div>
        <div appAccordian>
            <div appAccordianTitle [open]="true">
                8.	How can you contact us ? 
            </div>
            <div>
                <p>
                    Please do not hesitate to contact us if you have any questions, or if you would like to collaborate with us. We look forward to hearing from you, and to offering you all the assistance you need. 
                    To contact us, please send an e-mail to the following address: <a href="mailto:contact@noodra.com">contact&#64;noodra.com</a>. 
                    We will do our utmost to respond to all your requests as quickly as possible. 
                    Thank you for choosing Noodra and allowing our team to provide you with an exceptional experience. 
                </p>

            </div>
        </div>
        
    </div>
</div>