 .search {
     -moz-border-radius: 3.125rem;
     border-radius: 3.125rem;
     border: .125rem solid #dedede;
     background-color: #fff;
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: end;
     -webkit-justify-content: flex-end;
     -moz-box-pack: end;
     -ms-flex-pack: end;
     justify-content: flex-end;
     position: relative;
     margin-bottom: 1.875rem;
     margin-right: 1.25rem
 }

 .search input[type=text] {
     height: 1.875rem;
     width: 85%;
     border: none;
     display: block;
     -moz-border-radius: 3.125rem;
     border-radius: 3.125rem;
     background: none;
     color: #4e4e4e;
     padding: 0 .625rem
 }


 .search button {
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%);
     border: none;
     color: #f8c43d;
     font-size: 1rem;
     left: .125rem;
     background: transparent
 }