<div class="small-container column align-items mgb60 guideline" *ngIf="sub | async as referrer">
    <h2>TIPS FOR THE SELLER </h2>
    <h3>1. Offer multiple delivery options to your customers:</h3>
    <p>59% of Internet users abandon their order because of delivery options deemed unsatisfactory</p>
    <ul>
        <li>We recommend that you offer multiple delivery options to accommodate your customers. You can create a
            delivery profile with simple delivery and express delivery
        </li>
    </ul>
    <h3>2. Offer free shipping, a real selling point:</h3>
    <p>62% of online shoppers abandon their shopping cart because of shipping costs deemed too high. Thus, an article at
        50 euros without shipping costs will be psychologically more accepted than an article at 45 euros with 5 euros
        shipping costs.</p>
    <p class="bold">But how do you offer shipping without reducing your margin too much?</p>
    <ul>
        <li>
            <span class="bold">Offer free shipping on defined products</span><br/>
            For example: light, low volume products, as shipping costs are likely to be low, or offering low or offer
            delivery on a particular product to clear your stock
        </li>
        <li>
            <span class="bold">Add shipping costs to the product price</span>
        </li>
        <li>
            <span class="bold">Offer free shipping on minimum purchase</span>
        </li>
    </ul>
    <h3>3. Promote your store</h3>
    <p>Key elements of the store to address:</p>
    <ul>
        <li><span class="bold">Store logo:</span> Put up clear photos that represent the style of your brand to make a
            good impression your brand to make a good impression on buyers.
        </li>
        <li><span class="bold">Welcome message:</span> share a brief welcome message with buyers.
        </li>
        <li><span class="bold">Upload photos and share the story</span> that is behind your products, how your company
            was created and what your brand vision is.
        </li>
        <li><span class="bold">Store members:</span> You can also introduce all the other members of your team or the
            people you collaborate with.
        </li>
        <li><span class="bold">General terms and conditions of sale</span> of your store: describe all of your
            conditions regarding shipping, returns, exchanges, refunds, personalized items or any other guidelines that
            would be important to buyers
        </li>
    </ul>
    <h3>4. Provide all necessary product information:</h3>
    <p>18% of online shoppers say they abandon their cart because "they don't see the product very well".
    </p>
    <ul class="mgb60">
        <li>Therefore, offer the buyer all the information he needs: sizes, dimensions, material, technical details,
            pictures, etc. You must also specify the price of the product, its final cost with delivery charges,
            possible discounts and delivery times.
        </li>
        <li>Favour quality visuals: To highlight your products, choose good quality, interactive photos (possibility of
            zooming). Between 3 to 5 photos will be necessary to maximize the conversion
        </li>
    </ul>
    <div >
        <h2>ADVANTAGES FOR THE SELLER </h2>
        <h3>1. Find out what benefits you have: </h3>
        <p>On Noodra, sellers will benefit from a dynamic and user-friendly platform offering maximum visibility to their products. 
           Thanks to a constantly expanding audience, sellers will have access to a vast and diversified market, conducive to increasing their sales. 
           Noodra provides a robust and scalable technical infrastructure, which means you don't have to worry about the challenges of managing the marketplace 
           and can focus on growing your business. Additionally, our secure payment system ensures smooth and hassle-free transactions for sellers, 
           thereby reinforcing their confidence and loyalty. Lastly, Noodra offers dedicated support and training resources to help sellers maximize their success 
           on the platform, ensuring a positive and lucrative experience for all.</p>
    </div>
    <h2>1. MY SHOP</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>1.1 How do I create my store?</span>

        </div>
        <div>
            <p>Create an account with your email address, enter your personal information and customize your store.
                Some tips below:
            </p>
            <p><span class="bold bluetxt">1.1.1.</span> <span class="bold">Choose your store name: </span>Every
                store on Noodra has a unique name. The name you choose should reflect your brand identity and the
                spirit of your products. You can always change the name of your store later</p>
            <p><span class="bold bluetxt">1.1.2.</span> <span
                    class="bold">Write a description for your store: </span>The description of your store should be
                short and warm and reflect the story and spirit of your products because buyers like to know more
                about the products they are going to buy. </p>
            <p><span class="bold bluetxt">1.1.3.</span> <span class="bold">Add an avatar to your store: </span>The
                avatar increases the visibility of your store on the site, gives it an aesthetic dimension and
                contributes to building your brand identity
            </p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>1.2 How to define the processing and delivery time of a product on my store ?</span>

        </div>
        <div>
            <p><span class="bold bluetxt">1.2.1.</span> The time you indicate in your delivery profiles must
                correspond to the processing (also if the item is custom-made) and delivery of the orders in order
                to give the buyer a good estimate of the time he will have to wait until he receives his order
            </p>
            <p><span class="bold bluetxt">1.2.2.</span> If a delay is expected, the customer must be informed as
                soon as possible</p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>1.3. What products am I not allowed to sell in my store?</span>

        </div>
        <div>
            <p><span class="bold bluetxt">1.3.1.</span> Products with unclear pictures</p>
            <p><span class="bold bluetxt">1.3.2.</span> The prohibited products defined in the General Conditions of
                Sale</p>
            <p><span class="bold bluetxt">1.3.3.</span> Products qualified as copies or plagiarism: It is forbidden
                to use photos of other brands or sites. You must only put photos that belong to you. It is also
                forbidden to propose products identical to those of another existing brand</p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>1.4. How to challenge an evaluation?</span>

        </div>
        <div>
            <p>If you feel that a review against you is unfair, slanderous or misleading, you can contact the Noodra
                team who will analyze the situation and remove the comment in question if necessary</p>
        </div>
    </div>
    <h2>2. SELLING ON NOODRA</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>2.1. How does the sale on Noodra work?</span>

        </div>
        <div>
            <p>On Noodra, each seller is responsible for his store, which he creates and manages. <span
                    class="bold">A commission of only 9% or 14% depending on your affiliation</span> is deducted from each sale.
            </p>
            <p><span class="bold bluetxt">2.1.1.</span> The seller puts his products online, decides on the price of
                the items and manages the shipments himself. Thanks to the internal messaging system of Noodra,
                <span class="bold">he can exchange with the clients</span> and keep them keep them informed of the
                status of their orders.</p>
            <p><span class="bold bluetxt">2.1.2.</span> The buyer can order from several different sellers, and all
                orders can be paid at once</p>
            <p><span class="bold bluetxt">2.1.3.</span> As a trusted third party, Noodra does not intervene in the
                purchasing process but is <span class="bold">guarantor of the reliability of transactions.</span>
                Noodra ensures that buyers use their purchases and that sellers get paid once the items are
                delivered</p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>2.2. What are the steps of the sale on Noodra?</span>

        </div>
        <div>
            <p><span class="bold bluetxt">2.2.1.</span> <span class="bold">The buyer places an order,</span>
                chooses his payment method and receives a confirmation email. He can find his order in his space "My
                orders". The seller receives a notification indicating the ordered article, as well as the
                customer's information. He has <span class="bold"> 48 hours to accept or refuse it</span>, otherwise
                the order is automatically cancelled, and the customer is refunded to her Noodra wallet.
            </p>
            <p><span class="bold bluetxt">2.2.2.</span> <span class="bold"> The seller accepts the order,</span> and
                prepares the package for shipment. The status of the order is "To be shipped".</p>
            <p><span class="bold bluetxt">2.2.3.</span> <span class="bold"> The seller ships the order.</span> A
                shipment with a tracking number is recommended as it serves as proof of shipment in case of dispute
            </p>
            <p><span class="bold bluetxt">2.2.4.</span> <span class="bold"> The buyer receives and evaluates his order: status "Completed".</span>
                The product is considered received, and the buyer can leave an evaluation of his order. The seller
                is then paid in his portfolio. Sellers are responsible for their orders until they are received by
                the buyer. If a buyer does not receive their package, the seller must contact their carrier and make
                every effort to locate the package and refund the buyer if necessary.</p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>2.3 How to accept an order on Noodra?</span>

        </div>
        <div>
            <p>Once an order is placed, the seller has 48 hours to accept it. In case of refusal or cancellation,
                the seller must explain to the buyer why the order was refused. After more than 3 cancellations in 5
                days or more than 10 cancellations and/or refunds in 30 days, the store can be deactivated or
                closed. It is then necessary to contact Noodra to reactivate it
            </p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>2.4. How to complete an order on Noodra?</span>

        </div>
        <div>
            <p><span class="bold bluetxt">2.4.1.</span> The buyer acknowledges receipt of his order and leaves an
                evaluation to the seller if he so wishes</p>
            <p><span class="bold bluetxt">2.4.2.</span> If after 30 days the buyer has not confirmed the receipt of
                the order, the order is automatically terminated</p>
            <p><span class="bold bluetxt">2.4.3.</span> Noodra can manually close the order at the request of the
                seller if he provides proof that the package has been delivered</p>
        </div>
    </div>
    <div appAccordian id="affiliate" >
        <div appAccordianTitle [open]="referrer.affiliate">
            <span>2.5. How to become an affiliate on Noodra?</span>

        </div>
        <div>
            <p>Once an order is placed, the seller has 48 hours to accept it. In case of refusal or cancellation, the
                seller must explain to the buyer why the order was refused. After more than 3 cancellations in 5 days or
                more than 10 cancellations and/or refunds in 30 days, the store can be deactivated or closed. It is then
                necessary to contact Noodra to reactivate it
            </p>
        </div>
    </div>
    <div appAccordian id="ambassador" >
        <div appAccordianTitle [open]="referrer.ambassador">
            <span>2.6. How to become an ambassador on Noodra?</span>

        </div>
        <div>
            <p>Once an order is placed, the seller has 48 hours to accept it. In case of refusal or cancellation, the
                seller must explain to the buyer why the order was refused. After more than 3 cancellations in 5 days or
                more than 10 cancellations and/or refunds in 30 days, the store can be deactivated or closed. It is then
                necessary to contact Noodra to reactivate it
            </p>
        </div>
    </div>
    <h2>3. RETURNS, EXCHANGES AND REFUNDS</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>3.1 What is the return, exchange and refund policy?</span>

        </div>
        <div>
            <p><span class="bold">Buyers have 14 days</span> to make a return, after receiving their order. Refunds
                are made to the Noodra wallet. The buyer can then choose to use the funds to place a new order, or
                transfer them to their bank or Paypal account
            </p>
            <p class="bold">Are the return shipping costs the responsibility of the seller or the buyer?</p>
            <ul>
                <li>The costs are at the buyer's expense if the product is in accordance with the image/description
                    and has no defects
                </li>
                <li>The return costs are at the seller's expense if the product does not conform to the
                    image/description and has defects
                </li>
            </ul>
            <p><span class="bold">Once the 14-day period is over</span> each seller is responsible for its terms and
                conditions of sale regarding returns, exchanges and refunds, which it must clearly communicate in
                its terms and conditions of sale</p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>3.2 How do I manage my returns?</span>

        </div>
        <div>
            <p><span class="bold">The return address is automatically given to your customers</span><br/>
                Don't forget to fill in your return address, which must be accessible to your customer when
                requesting a return for exchange or refund.
            </p>
            <p><span class="bold">The customer is only refunded when you receive your package.</span><br/> You can
                also contest the refund, if you feel that the order was not delivered in good condition. To do this,
                simply contact Noodra </p>
            <p>You can accept or refuse a return in the following 3 cases:</p>
            <ul>
                <li>Requests made 15 days after receipt of the item by the customer</li>
                <li>Swimwear and underwear</li>
                <li>Custom-made items</li>
            </ul>
        </div>
    </div>
    <h2>4. PAYMENTS AND NOODRA PORTFOLIO</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>4.1. How do I pay for my sale?</span>

        </div>
        <div>
            <p>When an order is placed, the payment is collected directly by Noodra. The seller receives the money
                from his sale in his wallet under certain conditions:</p>
            <ul>
                <li>The vendor collects the revenue from his wallet when the order is marked as completed.
                </li>
                <li>If the buyer does not confirm receipt after 30 days, the order is automatically "Completed", and
                    the seller directly collects the amount of his sale
                </li>
            </ul>
            <p>Noodra can always cancel an order. The buyer is automatically credited with the amount of his
                purchase, in his Noodra wallet. Once the money is in the wallet, it is possible to make a
                transfer. </p>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>4.2. What are the possible payment methods on Noodra?</span>

        </div>
        <div>
            <ul>
                <li>Bank card</li>
                <li>Paypal</li>
                <li>Noodra Portfolio</li>
            </ul>
        </div>
    </div>
    <div appAccordian>
        <div appAccordianTitle>
            <span>4.3. How does the Noodra portfolio work?</span>

        </div>
        <div>
            <p><span class="bold bluetxt">4.3.1.</span> When you create a Noodra account, you have a virtual wallet
                where all the user's monetary transactions are made</p>
            <p><span class="bold bluetxt">4.3.2.</span><span class="bold"> A seller will see different kinds of transactions on his account </span>
                as the amount of cancelled purchases, refunds to the wallet, transactions related to payments for
                purchases via the wallet, transfers to his bank/Paypal account, amounts related to wallet credit
            </p>
            <p><span class="bold bluetxt">4.3.3.</span><span class="bold"> A buyer will see different kinds of transactions on his account </span>
            </p>
        </div>
    </div>
    <h2>5. SECURITY</h2>
    <div appAccordian>
        <div appAccordianTitle>
            <span>5.1. How to avoid fraud</span>

        </div>
        <div>
            <p>The majority of frauds involve <span class="bold">credit card thefts</span> and <span class="bold">Paypal accounts that are made outside the Noodra website.</span>
                Below are some tips on how to avoid fraud:
            </p>
            <ul>
                <li>Don't give your banking or Paypal information to people you don't trust
                </li>
                <li>Contact your bank immediately if there are any suspicious transactions on your bank account
                </li>
                <li>Don't type your password if someone else is looking at your keyboard</li>
                <li>Create a complex password: minimum 8 characters, at least 1 number, 1 special character and a
                    capital letter
                </li>
                <li>Change your password at least twice a year</li>
                <li>Do not click on a link in an email without reading it. The email addresses we communicate with
                    you are: quelquechose&#64;noodra.com
                </li>
            </ul>
        </div>
    </div>
</div>